.footer {
    $footer-height: 200rpx;
    height: $footer-height;
    background-image: var(--footer-bg);
    color: var(--footer-color);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    @media (max-width: $mobile-breakpoint) {
        height: 230mrpx;
    }

    &-logo {
        width: 337rpx;
        height: 94rpx;

        @media (max-width: $mobile-breakpoint) {
            width: 337mrpx;
            height: 94mrpx;
        }
    }

    &-copyright {
        margin: 0 135rpx;

        @media (max-width: $mobile-breakpoint) {
            margin: 0 30mrpx;
        }
    }

    &-year {
        font-size: 200rpx;
        opacity: 0.15;
        // line-height: 0.5;
    }
}