.gallery {

    display: flex;
    flex-wrap: wrap;
    margin: 0 -22rpx;

    &-photo {
        width: 25%;
        margin-bottom: 15rpx;
        padding: 0 22rpx;
        box-sizing: border-box;
    }

    &-title {
        margin-top: 10rpx;
        font-size: 14rpx;
        color: #333333;
        text-align: center;
    }
}