.heading {
    display: flex;
    align-items: center;

    &-icon {
        width: 30rpx;
        height: 30rpx;
        margin-right: 10rpx;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        @media (max-width: $mobile-breakpoint) {
            width: 40mrpx;
            height: 40mrpx;
            margin-right: 14mrpx;
        }

        &-camera {
            background-image: url(/images/icon_camera.png);
        }

        &-shield {
            background-image: url(/images/icon_shield.png);
        }

        &-message {
            background-image: url(/images/icon_message.png);
        }

        &-gift {
            background-image: url(/images/icon_gift.png);
        }

        &-video {
            background-image: url(/images/icon_video.png);
        }

        &-tv {
            background-image: url(/images/icon_tv.png);
        }


    }

    &-titles {
        display: flex;
        align-items: baseline;
        font-weight: bold;
    }

    &-title {
        font-size: 18rpx;
        color: var(--primary-color);;

        @media (max-width: $mobile-breakpoint) {
            font-size: 28mrpx;
        }
    }

    &-subtitle {
        margin-left: 15rpx;
        font-size: 12rpx;
        color: #A7A7A7;

        @media (max-width: $mobile-breakpoint) {
            margin-left: 15mrpx;
            font-size: 18mrpx;
        }

    }

}