.header {

    $pc-header-height: 100rpx;
    $mobile-header-height: 100mrpx;

    height: $pc-header-height;
    width: 100vw;
    background-image: url(/images/header_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;

    @media (max-width: $mobile-breakpoint) {
        padding: 23mrpx 30mrpx;
        height: $mobile-header-height;
        background-image: linear-gradient(to bottom, #cb0202, #8a0000);
    }

    &-mobile {
        display: none;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        &-logo {
            width: 296mrpx;
            height: 54mrpx;
        }

        &-menu {
            width: 42mrpx;
            height: 48mrpx;
            position: relative;
            z-index: 100;
        }

        @media (max-width: $mobile-breakpoint) {
            display: flex;
        }
    }

    &-logo {
        position: relative;
        width: 210rpx;
        height: 235rpx;
        z-index: 10;

        @media (max-width: $mobile-breakpoint) {
            width: 210mrpx;
            height: 235mrpx;
            margin: 0 35mrpx;
        }
    }

    &-wrap {
        display: flex;
        width: 1200rpx;
        margin: 0 auto;
        // visibility: visible;

        @media (max-width: $mobile-breakpoint) {
            display: none;
            // visibility: hidden;
            flex-direction: column;
            position: absolute;
            z-index: 10;
            width: 100vw;
            height: 100vh;
            top: 0;
            left: 0;
            background-color: rgba(#AB0202, 0.93);
        }
    }

    &-menu {
        display: flex;
        height: $pc-header-height;

        @media (max-width: $mobile-breakpoint) {
            flex-direction: column;
            flex: 1;
            margin: 0 85mrpx;
        }

        &-item {
            line-height: $pc-header-height;
            margin-right: 15rpx;
            color: white;
            font-size: 20rpx;
            width: 110rpx;
            text-align: center;
            // text-decoration: none;

            @media (max-width: $mobile-breakpoint) {
                line-height: $mobile-header-height;
                margin: 0;
                width: 100%;
                font-size: 36mrpx;
                padding-bottom: 1px;
                background: linear-gradient(to right,
                        white,
                        transparent) left bottom transparent no-repeat;
                background-size: 100% 1px;
                text-align: left;
            }

            &:last-child {
                margin-right: 0;
            }

            &:hover,
            &.current {

                background-image: url(/images/header_menu_hover_bg.png);
                background-repeat: no-repeat;
                background-size: contain;
                color: #FABC05;

                // border-bottom: 6rpx solid #dfdfdf;
                // background-color: black;
                @media (max-width: $mobile-breakpoint) {
                    background: linear-gradient(to right,
                            white,
                            transparent) left bottom transparent no-repeat;
                    background-size: 100% 1px;
                }
            }



        }
    }

}