.header {
    $pc-header-height: 100rpx;
    $mobile-header-height: 100mrpx;
    height: $pc-header-height;
    width: 100%;
    background-image: url(/images/header_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;

    @media (max-width: $mobile-breakpoint) {
        padding: 23mrpx 30mrpx;
        height: $mobile-header-height;
        background-image: linear-gradient(to bottom, #cb0202, #8a0000);
    }

    &-mobile {
        display: none;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        &-logo {
            width: 296mrpx;
            height: 54mrpx;
        }

        &-menu {
            padding: 6mrpx 0;
            width: 42mrpx;
            height: 48mrpx;
            position: relative;
            z-index: 100;
        }

        @media (max-width: $mobile-breakpoint) {
            display: flex;
        }
    }

    &-logo {
        position: relative;
        width: 210rpx;
        height: 235rpx;
        z-index: 10;

        @media (max-width: $mobile-breakpoint) {
            width: 210mrpx;
            height: 235mrpx;
            margin: 0 35mrpx;
        }
    }

    .open {
        display: flex;
        opacity: 1;
        height: 100vh;
    }

    &-wrap {
        display: flex;
        width: 1200rpx;
        margin: 0 auto;

        @media (max-width: $mobile-breakpoint) {
            height: 0;
            opacity: 0;
            overflow: hidden;
            flex-direction: column;
            position: fixed;
            z-index: 20;
            width: 100vw;
            top: 0;
            left: 0;
            background-color: rgba(#AB0202, 0.93);
            transition: .3s ease-in-out;
        }

    }

    &-menu {
        display: flex;
        height: $pc-header-height;
        flex: 1;

        @media (max-width: $mobile-breakpoint) {
            flex-direction: column;
            flex: 0;
            margin: 0 85mrpx;
        }

        &-item {
            line-height: $pc-header-height;
            margin-right: 15rpx;
            color: white;
            font-size: 20rpx;
            width: 110rpx;
            text-align: center;
            flex: 1;

            @media (max-width: $mobile-breakpoint) {
                line-height: $mobile-header-height;
                margin: 0;
                width: 100%;
                font-size: 36mrpx;
                padding-bottom: 1px;
                background-image:
                    linear-gradient(to right, white, rgba(#AB0202, 1));
                background-repeat: no-repeat;
                background-size: 100% 1px;
                background-position: 0 100%;
                text-align: left;
            }

            &:last-child {
                margin-right: 0;
            }

            &:hover,
            &.current {

                background-image: url(/images/header_menu_hover_bg.png);
                background-repeat: no-repeat;
                background-size: cover;
                color: #FABC05;

                @media (max-width: $mobile-breakpoint) {
                    background-image: linear-gradient(to right, white, rgba(#AB0202, 1));
                    background-size: 100% 1px;
                }
            }

        }
    }

}