.pagination {
    display: flex;
    justify-content: center;
    align-items: center;

    &-left {
        background-image: url(/images/icon_arrow_left.png);
        background-size: 35%;
    }

    &-right {
        background-image: url(/images/icon_arrow_right.png);
        background-size: 35%;
    }

    &-item {
        width: 22rpx;
        height: 22rpx;
        border-radius: 100%;
        text-align: center;
        line-height: 22rpx;
        background-color: #E2E0E0;
        font-size: 16rpx;
        display: block;
        text-decoration: none;
        transition: .3s ease-in;
        color: #B4B4B4;
        margin-right: 25rpx;
        background-repeat: no-repeat;
        background-position: center;

        @media (max-width: $mobile-breakpoint) {
            width: 32mrpx;
            height: 32mrpx;
            line-height: 32mrpx;
            font-size: 16mrpx;
            margin-right: 50mrpx;
        }

        &:last-child {
            margin-right: 0;
        }

        &:hover,
        &.current {
            color: white;
            background-color: var(--primary-color);
        }
    }
}