.ticket {
    background-color: rgba($color: #ffffff, $alpha: 0.86);
    box-shadow: 0px 2px 4px 0px rgba(199, 199, 199, 0.50);
    width: 100%;
    background-image: url(/images/ticket_bg.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
    display: flex;
    align-items: center;
    height: 165rpx;

    &-info {
        padding-left: 70rpx;
    }

    &-title {
        color: $primary-color;
        font-size: 18rpx;
        background-image: url(/images/ticket_title.png);
        background-repeat: no-repeat;
        padding-bottom: 10rpx;
        margin-bottom: -10rpx;
        padding-top: 18rpx;
        margin-top: -18rpx;
        padding-left: 21rpx;
        margin-left: -21rpx;

    }

    &-divider {
        border-bottom: 1rpx solid #979797;
        margin: 15rpx 0;
        width: 210rpx;
    }

    &-desc {
        font-size: 14rpx;
        color: #999999;
    }

    &-scan {
        padding-top: 6rpx;
        display: flex;
        align-items: center;
        flex: 1;
        justify-content: flex-end;
        margin-right: 120rpx;
    }

    &-tip {
        color: #999999;
        font-size: 14rpx;
        background-image: url(/images/ticket_tip.png);
        background-repeat: no-repeat;
        padding-left: 41rpx;
        background-position: center left;
        margin-right: 70rpx;
    }


    &-qrcode {
        width: 77rpx;
        height: 77rpx;
    }
}