.heading {
    display: flex;
    align-items: center;

    &-icon {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        background-repeat: no-repeat;
        background-position: center;

        &-camera {
            background-image: url(/images/src/icon_camera.png);
        }

        &-shield {
            background-image: url(/images/src/icon_shield.png);
        }

        &-message {
            background-image: url(/images/src/icon_message.png);
        }

        &-gift {
            background-image: url(/images/src/icon_gift.png);
        }


    }

    &-titles {
        display: flex;
        align-items: baseline;
        font-weight: bold;
    }

    &-title {
        font-size: 18px;
        color: $primary-color;
    }

    &-subtitle {
        margin-left: 15px;
        font-size: 12px;
        color: #A7A7A7
    }

}