.spacer {
    &-flower {
        width: 225px;
        height: 62px;
        background-image: url(/images/flower.png);
        background-repeat: no-repeat;
        background-size: contain;
        margin: 0 200px;
    }
}