// Font-Size
.text {
    &-sm {
        font-size: 12px;

        @media (max-width: $mobile-breakpoint) {
            font-size: 12mpx;
        }
    }

    &-base {
        font-size: 14px;

        @media (max-width: $mobile-breakpoint) {
            font-size: 14mpx;
        }

    }

    &-md {
        font-size: 16px;

        @media (max-width: $mobile-breakpoint) {
            font-size: 16mpx;
        }
    }

    &-lg {
        font-size: 18px;

        @media (max-width: $mobile-breakpoint) {
            font-size: 18mpx;
        }
    }


}