@use 'sass:math';
@use 'sass:color';
// @import 'normalize.css';
@import 'config';
@import 'blocks/**/*';
@import 'components/**/*';
@import 'pages/**/*';

@import "slick-carousel/slick/slick";
@import 'normalize';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    // min-height: 100vh;
    background-color: $body-bg;
    font-family: 'Open Sans',
        sans-serif,
        'PingFangSC';
    scrollbar-gutter: stable both-edges;
}

p {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
    display: inline-block;

    &:hover {
        // text-decoration: underline;
        color: $primary-color;
    }
}

.container {
    box-sizing: border-box;
    width: 1200rpx;
    margin: 0 auto;
    // min-height: 100vh;

    @media (max-width: $mobile-breakpoint) {
        width: 100%;
        // padding: 0 30mrpx;
    }
}

.flex {
    display: flex;
}

.hide_in_mobilen {
    @media (max-width: $mobile-breakpoint) {
        display: none;
    }
}
.hide_in_pc {
    display: none;
    @media (max-width: $mobile-breakpoint) {
        display: block;
    }
}

// .slick-slide {
//     border: 0 !important;

//     & a {
//         display: block !important;
//     }
// }

.noscroll {
    overflow: hidden;
}

.swiper-img{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.slick-vertical .slick-slide{
    border: 0 !important;
}