// Font-Size
.text {
    &-sm {
        font-size: 12rpx;

        @media (max-width: $mobile-breakpoint) {
            font-size: 12mrpx;
        }
    }

    &-base {
        font-size: 14rpx;

        @media (max-width: $mobile-breakpoint) {
            font-size: 14mrpx;
        }

    }

    &-md {
        font-size: 16rpx;

        @media (max-width: $mobile-breakpoint) {
            font-size: 16mrpx;
        }
    }

    &-lg {
        font-size: 18rpx;

        @media (max-width: $mobile-breakpoint) {
            font-size: 18mrpx;
        }
    }


}