.dsj{

    @keyframes scaleWaterDrop {
        0% {
            transform: scale(0.95);
        }

        50% {
            transform: scale(1.05);
        }

        100% {
            transform: scale(0.95);
        }
    }

    @keyframes bottomScaleWaterDrop {
        0% {
            transform: rotate(180deg) scale(0.95);
        }

        50% {
            transform: rotate(180deg) scale(1.05);
        }

        100% {
            transform: rotate(180deg) scale(0.95);
        }
    }

    $item-padding: 320rpx;

    background-image: url(/images/dsj/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 950rpx;
    position: relative;

    @media (max-width: $mobile-breakpoint) {
        background-image: url(/images/dsj/mobile_bg.jpg);
        background-repeat: repeat-y;
        height: calc(100vh - $header-height-mobile - $footer-height-mobile);
        background-size: cover;
        overflow: hidden;

        .swiper-slide{
            height: auto
        }
    }

    &-title{
        font-size: 32mrpx;
        color: $primary-color;
        font-weight: bold;
        padding: 37mrpx 40mrpx;
        background-image: url(/images/tabs_bg_right.png);
        background-repeat: no-repeat;
        background-size: 30%;
        background-position: 150mrpx center;
        position: absolute;
        top: 0;
        width: 100%;
    }

    &-divider{
        height: 27rpx;
        width: 100%;
        top: 50%;
        margin-top: -11rpx;
        position: absolute;
        background-image: url(/images/dsj/horizontal_line.png);
        background-repeat: no-repeat;
        background-size: cover;
        @media (max-width: $mobile-breakpoint) {
            width: 30mrpx;
            height: 100%;
            top: 0;
            margin: 0;
            left: 73mrpx;
            background-image: url(/images/dsj/vertical_line.png);
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    &-list{
        height: 950rpx;
        overflow: hidden;
        position: relative;
        z-index: 10;
        @media (max-width: $mobile-breakpoint) {
            height: auto;
            padding-left: 25mrpx;
            height: 100%;
            padding-top: 110mrpx;
        }
    }


    &-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        justify-content: flex-end;
        padding-bottom: $item-padding;
        @media (max-width: $mobile-breakpoint) {
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
            margin-bottom: 50mrpx;
            padding: 0;
            height: auto;
            // height: 200mrpx;
        }

        // Scale
        .scale &-desc {
            // transform: scaleY(0);
            opacity: 0;
            @media (max-width: $mobile-breakpoint) {
                transform: rotateZ(70deg);
            }
        }

        .scale &-waterdrop {
            animation: scaleWaterDrop 2s;
            animation-iteration-count: infinite;
            @media (max-width: $mobile-breakpoint) {
                animation: none;
            }
        }

        &-bottom{
            padding-bottom: 0;
            padding-top: $item-padding;
            justify-content: flex-start;
            @media (max-width: $mobile-breakpoint) {
                padding: 0;
            }

        }
        &-bottom &{

            .scale &-waterdrop {
                animation: bottomScaleWaterDrop 2s;
                animation-iteration-count: infinite;
                @media (max-width: $mobile-breakpoint) {
                    animation: none;
                }
            }

            &-desc{
                transform-origin: top;
                order: 2;
            }
            &-waterdrop{
                order: 1;
                transform: rotate(180deg);

                &-circle {
                    transform: rotate(180deg);
                }
            }
        }

        &-desc{
            transition: .5s ease-out;
            transform: scale(1);
            opacity: 1;
            width: 100%;
            transform-origin: bottom;
            order: 1;
            @media (max-width: $mobile-breakpoint) {
                order: 2;;
                margin: 0;
                margin-left: 60mrpx;
                width: auto;
                transform-origin: left !important;
            }
            &-text{
                background-color: rgba(255, 255, 255, 0.64);
                padding: 20rpx 16rpx;
                border-radius: 20rpx 20rpx 0 0;
                max-height: 320rpx;
                overflow: auto;
                font-size: 16rpx;
                line-height: 28rpx;
                color: #1D1C1C;
                flex: 1;
                @media (max-width: $mobile-breakpoint) {
                    border-radius:20mrpx 20mrpx 0 0;
                    font-size: 24mrpx;
                    line-height: 38mrpx;
                    width: 380mrpx;
                    padding: 20mrpx 16mrpx;
                    max-height: 100%;
                }
            }
        }

        &-waterdrop{
            margin: 25rpx 0;
            position: relative;
            font-size: 26rpx;
            order: 2;
            color: white;
            font-weight: bold;
            width: 150rpx;
            height: 165rpx;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            padding-bottom: 28rpx;
            transition: .5s ease-in-out;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            cursor: pointer;

            @media (max-width: $mobile-breakpoint) {
                order: 1;
                width: 150mrpx;
                height: 165mrpx;
                padding-bottom: 25mrpx;
                margin: 0;
                transform: rotate(90deg) !important;
            }
            &-wrap{
                flex: 1;
            }
            &-circle {
                width: 95rpx;
                height: 95rpx;
                line-height: 95rpx;
                text-align: center;
                @media (max-width: $mobile-breakpoint) {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 26mrpx;
                    width: 95mrpx;
                    height: 95mrpx;
                    transform: rotate(-90deg) !important;
                }
            }
        }
    }

    &-swiper{
        height: 100%;
        width: 100%;

        &-btn{
            width: 36rpx !important;
            height: 160rpx !important;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            flex: 0 0 36rpx !important;
            cursor: pointer;
            position: absolute;
            z-index: 10;
            top: 50%;
            margin-top: -80rpx;
            z-index: 11;
            @media (max-width: $mobile-breakpoint) {
                display: none;
            }
        }

        &-prev{
            left: 0;
            background-image: url(/images/dsj/left.png) !important;
        }

        &-next {
            right: 0;
            background-image: url(/images/dsj/right.png) !important;
        }
    }

}