.dsj{
    background-image: url(/images/dsj/bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 950rpx;


    &-divider{
        height: 43rpx;
        width: 100vw;
        position: relative;
        background-image:
            linear-gradient(to right, rgba(198, 194, 190, 0), rgba(200, 196, 195, 0.82), rgba(186, 186, 185, 0.94), rgba(187, 182, 179, 1), rgba(162, 158, 154, 0));
        &::after{
            content: "";
            position: absolute;
            top: 22rpx;
            height: 0;
            width: 100%;
            border-bottom: 1px dashed;
            border-image: linear-gradient(53deg, rgba(255, 255, 255, 0.00) 6%, rgba(255, 255, 255, 0.82) 11%, rgba(255, 255, 255, 0.94) 41%, #ffffff 79%, rgba(255, 255, 255, 0.00) 89%) 1 1;
        }
    }

    &-list{
        display: flex;
        align-items: center;
        height: 950rpx;
        position: relative;
        overflow: hidden;
    }

    &-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 30rpx;
        height: 100%;

        &:nth-child(2n+1) &-text {
            order: 2;
        }
        &:nth-child(2n+1) &-waterdrop{
            order: 1
        }

        &-desc{
            &-text{
                background-color: rgba(255, 255, 255, 0.64);
                padding: 12rpx;
                border-radius: 20px 20px 0 0;
                width: 210rpx;
                font-size: 16rpx;
                line-height: 28rpx;
                color: #1D1C1C;
                margin: 30rpx 0;
                flex: 1;
            }
        }

        &-waterdrop{
            margin: 40rpx 0;
            position: relative;
            font-size: 26rpx;
            color: white;
            font-weight: bold;
            width: 130rpx;
            height: 130rpx;
            background: rgba(1, 200, 126, 0.75);
            border-radius: 70% 0 60% 60%/60% 0 70% 60%;
            transform: rotate(-45deg);
            &-wrap{
                flex: 1;
            }
            &-circle {
                transform: rotate(45deg);
                margin: 18rpx;
                bottom: 0;
                position: absolute;
                width: 95rpx;
                height: 95rpx;
                background: radial-gradient(#63f489, #07b675);
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 0px 0px 20px 10px rgba(95, 95, 95, 0.6);
            }
            // &-shadow {
            //     width: 150px;
            //     height: 150px;
            //     background: radial-gradient(#4eb668, #149163);
            //     border-radius: 50%;
            //     filter: blur(6px);
            // }

        }
    }

    &-swiper{
        &-btn{
            width: 36rpx !important;
            height: 160rpx !important;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            flex: 0 0 36rpx !important;
            cursor: pointer;
            position: relative;
            z-index: 10;
        }

        &-prev{
            background-image: url(/images/dsj/left.png) !important;
        }

        &-next {
            background-image: url(/images/dsj/right.png) !important;
        }
    }

}