.hdyl {

    @media (max-width: $mobile-breakpoint) {
        padding: 0 30mrpx;
    }

    &-spacer {
        padding-top: 20rpx;

        @media (max-width: $mobile-breakpoint) {
            display: none;
        }
    }

    &-heading {
        display: flex;
        justify-content: flex-end;

        @media (max-width: $mobile-breakpoint) {
            display: none;
        }
    }

    &-schedule {
        padding-top: 30rpx;
        margin: 0 -30rpx;
        display: flex;
        flex-flow: wrap;

        @media (max-width: $mobile-breakpoint) {
            margin: 0;
            padding-top: 25mrpx;
            flex-direction: column;

        }

        &-item {
            // flex: 1 1 50%;
            width: 50%;
            padding: 0 15rpx;
            margin-bottom: 50rpx;
            box-sizing: border-box;

            @media (max-width: $mobile-breakpoint) {
                flex: auto;
                width: 100%;
                padding: 0;
                margin-bottom: 45mrpx;
            }
        }
    }

    &-links {
        margin: 0 -30rpx;
        display: flex;
        margin-bottom: 135rpx;

        @media (max-width: $mobile-breakpoint) {
            margin: 0;
            margin-bottom: 60mrpx;
            flex-direction: column;
        }


        &-item {
            @extend .boxshadow-md;
            position: relative;
            display: inline-block;
            width: 25%;
            height: 150rpx;
            border-radius: 10rpx;

            // box-shadow: 0px 2px 4px 0px rgba(149, 149, 149, 0.50);
            overflow: hidden;
            margin: 0 15rpx;

            @media (max-width: $mobile-breakpoint) {
                margin: 0;
                width: 100%;
                height: 300mrpx;
                margin-bottom: 40mrpx;
                border-radius: 10mrpx;
            }
        }

        &-bg {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        &-title {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            position: relative;
            font-size: 21rpx;
            font-weight: bold;
            color: white;
            justify-content: center;

            @media (max-width: $mobile-breakpoint) {
                font-size: 48mrpx;
            }
        }
    }

    &-pagination{
        margin-bottom: 80rpx;
    }

}