.home {
    width: 100vw;
    height: 100vh;
    display: flex;

    @media (max-width: $mobile-breakpoint) {
        height: 100vh;
        flex-direction: column;
    }

    &-menu {
        display: flex;
        flex: 0 0 1500rpx;
        flex-wrap: wrap;

        @media (max-width: $mobile-breakpoint) {
            order: 2;
            flex-direction: column;
            flex: 1;
        }
    }

    &-box {
        flex: 0 0 300rpx;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        position: relative;

        @media (max-width: $mobile-breakpoint) {
            height: auto;
            flex: 1;
            justify-content: flex-end;
            padding: 0 95mrpx;
        }

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba($color: #08c, $alpha: 0.5);
            z-index: 1;
            transition: transform .3s ease-in-out;
            transform: scaleY(1);
            transform-origin: top;

            @media (max-width: $mobile-breakpoint) {
                display: none;
            }
        }

        &-title {
            transition: .3s ease-in-out;
            padding: 0 12rpx;
            border-radius: 40rpx;
            height: 290rpx;
            color: white;
            font-size: 45rpx;
            writing-mode: vertical-lr;
            text-align: center;
            position: relative;
            z-index: 1;

            @media (max-width: $mobile-breakpoint) {
                writing-mode: inherit;
                display: flex;
                align-items: center;
                font-size: 36mrpx;
            }
        }

        &-biglogo {
            height: 50vh;
            flex: 0 0 600rpx;

            @media (max-width: $mobile-breakpoint) {
                display: none;
            }
        }

        &:hover {
            &::before {
                transform: scaleY(0);
            }
        }

        &:hover &-title {
            color: $primary-color;
            background-color: rgba($color: #ffffff, $alpha: 0.7);

            @media (max-width: $mobile-breakpoint) {
                background-color: transparent;
                color: white;
            }
        }

    }

    &-right {
        flex: 0 0 420rpx;
        height: 100vh;

        @media (max-width: $mobile-breakpoint) {
            order: 1;
            // flex: 1.33333333;
            // height: auto;
            height: 220mrpx;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    .side_box {
        flex: 0 0 420rpx;
        height: 100vh;
    }

    .xqdt {
        background-color: rgba($color: #08c, $alpha: 0.6);
        background-image: url(/images/home/xqdt.jpg);

        @media (max-width: $mobile-breakpoint) {
            background-color: transparent;
            background-image: url(/images/home/xqdt_mobile.jpg);
        }
    }

    .hdyl {
        background-image: url(/images/home/hdyl.jpg);
        background-color: #ffffff;

        @media (max-width: $mobile-breakpoint) {
            background-color: transparent;
            background-image: url(/images/home/hdyl_mobile.jpg);
        }
    }

    .dsj {
        background-image: url(/images/home/dsj.jpg);
        background-color: #ffffff;

        @media (max-width: $mobile-breakpoint) {
            background-color: transparent;
            background-image: url(/images/home/dsj_mobile.jpg);
        }
    }

    .xqbs {
        height: 50vh;
        flex: 0 0 600rpx;
        background-image: url(/images/home/xqbs.jpg);
        background-color: #ffffff;

        @media (max-width: $mobile-breakpoint) {
            flex: 1;
            height: auto;
            background-color: transparent;
            background-image: url(/images/home/xqbs_mobile.jpg);
        }
    }

    .yxdc {
        background-image: url(/images/home/yxdc.jpg);
        background-color: #ffffff;

        @media (max-width: $mobile-breakpoint) {
            background-color: transparent;
            background-image: url(/images/home/yxdc_mobile.jpg);
        }
    }

    .hkmx {
        background-image: url(/images/home/hkmx.jpg);
        background-color: #ffffff;

        @media (max-width: $mobile-breakpoint) {
            background-color: transparent;
            background-image: url(/images/home/hkmx_mobile.jpg);
        }
    }

    .yxq {
        background-image: url(/images/home/yxq.jpg);
        background-color: #ffffff;

        @media (max-width: $mobile-breakpoint) {
            background-color: transparent;
            background-image: url(/images/home/yxq_mobile.jpg);
        }
    }

}