.home {
    width: 100vw;
    display: flex;

    .menu {
        display: flex;
        flex: 0 0 1500rpx;
        flex-wrap: wrap;
    }

    .big_box {
        height: 50vh;
        flex: 0 0 600rpx;
    }

    .small_box {
        flex: 0 0 300rpx;
        height: 50vh;
        background-color: aqua;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .side_box {
        flex: 0 0 420rpx;
        height: 100vh;
    }

    .box_title {
        // width: 78rpx;
        padding: 0 12rpx;
        border-radius: 40rpx;
        height: 290rpx;
        background-color: rgba($color: #ffffff, $alpha: 0.7);
        color: $primary-color;
        font-size: 45rpx;
        writing-mode: vertical-lr;
        text-align: center;
    }

    .xqdt {
        background-color: #3452F3;
    }

    .hdyl {
        background-color: #EF6930;
    }

    .dsj {
        background-color: #9175F5;
    }

    .xqbs {}

    .yxdc {
        background-color: #FC7A13;
    }

    .hkmx {
        background-color: #99D5F7;
    }

    .yxq {
        background-color: #F8C334;
    }

}