.home {
    width: 100vw;
    height: 100vh;
    display: flex;

    @media (max-width: $mobile-breakpoint) {
        height: 100vh;
        flex-direction: column;
    }

    &-menu {
        display: flex;
        flex: 0 0 1500rpx;
        flex-wrap: wrap;

        @media (max-width: $mobile-breakpoint) {
            order: 2;
            flex-direction: column;
            flex: 1;
        }
    }

    &-box {
        flex: 0 0 300rpx;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;

        @media (max-width: $mobile-breakpoint) {
            height: auto;
            flex: 1;
            justify-content: flex-end;
            padding: 0;
        }

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            transition: transform .3s ease-in-out;
            transform: scaleY(1);
            transform-origin: top;

            @media (max-width: $mobile-breakpoint) {
                display: none;
            }
        }

        &-title {
            transition: .3s ease-in-out;
            padding: 0 12rpx;
            border-radius: 40rpx;
            height: 290rpx;
            color: white;
            font-size: 45rpx;
            text-align: center;
            position: relative;
            z-index: 1;
            display: flex;
            align-items: center;

            @media (max-width: $mobile-breakpoint) {
                writing-mode: inherit;
                display: flex;
                align-items: center;
                font-size: 36mrpx;
                padding: 0 25mrpx;
            }

            &-text {
                width: 60rpx;

                @media (max-width: $mobile-breakpoint) {
                    width: auto;
                    width: 300mrpx;
                    text-align: center;
                }
            }

            &-toys {
                width: 420rpx;
                height: 240rpx;
                position: relative;
                z-index: 1;
            }
        }

        &-biglogo {

            background-image: linear-gradient(to bottom, #E02F01, #940502);

            height: 50vh;
            flex: 0 0 600rpx;
            background-size: 100% 100%;
            background-position: center;
            background-repeat: no-repeat;
            display: flex;
            justify-content: center;

            @media (max-width: $mobile-breakpoint) {
                display: none;
            }

            &-logo {
                width: 212rpx;
                height: 242rpx;
            }
        }

        &:hover {
            &::before {
                transform: scaleY(0);
            }
        }

        &:hover &-title {
            color: $primary-color;
            background-color: rgba($color: #ffffff, $alpha: 0.7);

            @media (max-width: $mobile-breakpoint) {
                background-color: transparent;
                color: white;
            }
        }

    }

    &-right {
        flex: 0 0 420rpx;
        height: 100vh;
        background-image: url(/images/home/stone.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        @media (max-width: $mobile-breakpoint) {
            background-image: url(/images/home/stone_mobile.jpg);
            flex: 0 0 220mrpx;
            order: 1;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    .side_box {
        flex: 0 0 420rpx;
        height: 100vh;
    }

    .xqdt {
        background-image: url(/images/home/xqdt.jpg);

        &::before {
            background-color: rgba($color: #3452F3, $alpha: 0.5);
        }

        @media (max-width: $mobile-breakpoint) {
            background-image: url(/images/home/xqdt_mobile.jpg);
        }
    }

    .hdyl {
        background-image: url(/images/home/hdyl.jpg);

        &::before {
            background-color: rgba($color: #EF6930, $alpha: 0.5);
        }

        @media (max-width: $mobile-breakpoint) {
            background-image: url(/images/home/hdyl_mobile.jpg);
        }
    }

    .dsj {
        background-image: url(/images/home/dsj.jpg);

        &::before {
            background-color: rgba($color: #9175F5, $alpha: 0.5);
        }

        @media (max-width: $mobile-breakpoint) {
            background-image: url(/images/home/dsj_mobile.jpg);
        }
    }

    .xqbs {
        height: 50vh;
        flex: 0 0 600rpx;
        background-image: url(/images/home/xqbs.jpg);

        &::before {
            background-color: rgba($color: #9d0806, $alpha: 0.83);
        }

        @media (max-width: $mobile-breakpoint) {
            flex: 1;
            height: auto;
            background-image: url(/images/home/xqbs_mobile.jpg);
            padding: 0;
        }
    }

    .yxdc {
        background-image: url(/images/home/yxdc.jpg);

        &::before {
            background-color: rgba($color: #FC7A13, $alpha: 0.5);
        }

        @media (max-width: $mobile-breakpoint) {
            background-image: url(/images/home/yxdc_mobile.jpg);
        }
    }

    .hkmx {
        background-image: url(/images/home/hkmx.jpg);

        &::before {
            background-color: rgba($color: #34AEF3, $alpha: 0.5);
        }

        @media (max-width: $mobile-breakpoint) {
            background-image: url(/images/home/hkmx_mobile.jpg);
        }
    }

    .yxq {
        background-image: url(/images/home/yxq.jpg);

        &::before {
            background-color: rgba($color: #F8C334, $alpha: 0.5);
        }

        @media (max-width: $mobile-breakpoint) {
            background-image: url(/images/home/yxq_mobile.jpg);
        }
    }

}