.landing {
    position: relative;
    width: 100vw;
    height: 100vh;
    font-size: 0;

    &-logo {
        position: absolute;
        top: 0;
        z-index: 10;
        left: 192rpx;
        width: 212rpx;
        height: 242rpx;
    }

    &-head {}

    &-swiper {
        width: 100vw;
        height: 100vh;
    }

    &-fireworks {
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99999;
    }

    &-title {
        &-wrap {
            position: absolute;
            top: 50vh;
            right: 8vw;
            z-index: 10;

            @media (max-width: $mobile-breakpoint) {
                width: 100%;
                bottom: 40mrpx;
                left: 0;
                top: unset;
            }
        }

        position: relative;
        width: 700rpx;
        height: 232rpx;

        @media (max-width: $mobile-breakpoint) {
            width: 100%;
            height: auto;
        }

        img {
            transition: .5s ease-in-out;
            opacity: 0;
            width: 100%;
            height: 100%;
        }

        &-enter {
            bottom: 20rpx;
            right: 20rpx;
            position: absolute;
            color: white;

            @media (max-width: $mobile-breakpoint) {
                position: relative;
                bottom: unset;
                right: unset;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
            }


            @keyframes gradientBtn {
                0% {
                    background-position: 200% 100%;
                }

                50% {
                    background-position: 100% 100%;
                }

                100% {
                    background-position: 0% 100%;
                }
            }

            &-circle {
                margin-top: 20px;
                border-radius: 50%;
                width: 80px;
                height: 80px;
                background: rgba(255, 255, 255, 0.26);
                border: rgba(255, 255, 255, 0.43) solid 1px;
                // margin-top: -20px 0px;
                position: relative;
                cursor: pointer;
                display: block;

                &::before,
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    background: #fff;
                    border-radius: 50%;
                    width: 100px;
                    height: 100px;
                    margin-left: -50px;
                    margin-top: -50px;
                    opacity: 0;
                    animation: scaleAnim3 1.6s infinite linear;
                }

                &::before {
                    animation-delay: -.8s;
                }
            }

            a {
                cursor: pointer;
                width: 208rpx;
                height: 54rpx;
                background-image: linear-gradient(to right, #FFC70D, #FE0A09, #FFC70D);
                background-size: 200% 100%;
                border-radius: 54rpx;
                font-size: 20rpx;
                text-align: center;
                line-height: 54rpx;
                animation: gradientBtn 2s linear infinite;

                &:hover {
                    color: white;
                }

                @media (max-width: $mobile-breakpoint) {
                    font-size: 26mrpx;
                    width: auto;
                    height: auto;
                    background: none;

                }

            }
        }



        // background-image: url(/images/landing//title.png);
        // background-repeat: no-repeat;
        // background-size: contain;
    }

}

@keyframes scaleAnim3 {
    0% {
        transform: scale(0);
        opacity: 1;
    }

    50% {
        transform: scale(0.3);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}