.landing {
    position: relative;
    width: 100vw;
    height: 100vh;
    font-size: 0;
    background-color: #d40005;

    @media (max-width: $mobile-breakpoint) {
        min-height: -webkit-fill-available;
        max-height: -webkit-fill-available;
    }

    &-logo {
        position: absolute;
        top: 0;
        z-index: 10;
        left: 192rpx;
        width: 212rpx;
        height: 242rpx;

        @media (max-width: $mobile-breakpoint) {
            left: 35mrpx;
            width: 212mrpx;
            height: 242mrpx;
        }
    }

    &-header {
        position: absolute;
        width: 100%;

        .header {
            background: none;
        }

        .header-mobile-logo {
            opacity: 0;
        }
    }

    &-swiper {
        width: 100vw;
        height: 100vh;

        &-pagination {
            position: absolute;
            z-index: 100;
            right: 80rpx;
            top: 50vh;
            transform: translateY(-50%);

            @media (max-width: $mobile-breakpoint) {
                display: flex;
                bottom: 200mrpx;
                top: auto;
                left: 50%;
                transform: translateX(-50%);
                justify-content: center;
            }

            &-active{
                background-color: #FEB507 !important;
                cursor: unset;
            }
            &-item{
                width: 7rpx;
                height: 40rpx;
                background-color: #E4E4E3;
                margin-bottom: 4rpx;
                cursor: pointer;
                @media (max-width: $mobile-breakpoint) {
                    width: 40mrpx;
                    height: 7mrpx;
                    margin: 4mrpx;

                }
            }
        }


        @media (max-width: $mobile-breakpoint) {
            min-height: -webkit-fill-available;
            max-height: -webkit-fill-available;
        }
    }

    &-fireworks {
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        display: flex;
        @media (max-width: $mobile-breakpoint) {
            min-height: -webkit-fill-available;
            max-height: -webkit-fill-available;
        }


        &-left{
            flex: 1 1 50%;
            @media (max-width: $mobile-breakpoint) {
                flex: 1;
            }
        }
        &-right{
            flex: 1 1 50%;
            @media (max-width: $mobile-breakpoint) {
                display: none;
            }
        }

    }

    &-title {

        position: relative;
        width: 700rpx;
        height: 232rpx;
        text-align: center;

        @media (max-width: $mobile-breakpoint) {
            width: 100%;
            height: auto;
        }

        &-wrap {
            position: absolute;
            top: 50vh;
            right: 8vw;
            z-index: 5;

            @media (max-width: $mobile-breakpoint) {
                width: 100%;
                bottom: 40mrpx;
                left: 0;
                top: unset;
            }
        }

        img {
            transition: .5s ease-in-out;
            opacity: 0;
            width: 100%;
            height: 100%;
        }

        &-enter {
            bottom: 20rpx;
            right: 20rpx;
            position: absolute;
            color: white;

            @media (max-width: $mobile-breakpoint) {
                position: relative;
                bottom: unset;
                right: unset;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
            }


            @keyframes gradientBtn {
                0% {
                    background-position: 200% 100%;
                }

                50% {
                    background-position: 100% 100%;
                }

                100% {
                    background-position: 0% 100%;
                }
            }

            &-circle {
                margin-top: 20mrpx;
                border-radius: 50%;
                width: 80mrpx;
                height: 80mrpx;
                background: rgba(255, 255, 255, 0.26);
                border: rgba(255, 255, 255, 0.43) solid 1px;
                position: relative;
                cursor: pointer;
                display: block;

                &::before,
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    background: #fff;
                    border-radius: 50%;
                    width: 100mrpx;
                    height: 100mrpx;
                    margin-left: -50mrpx;
                    margin-top: -50mrpx;
                    opacity: 0;
                    animation: scaleAnim3 1.6s infinite linear;
                }

                &::before {
                    animation-delay: -.8s;
                }
            }

            &-btn {
                cursor: pointer;
                width: 208rpx;
                height: 54rpx;
                background-image: linear-gradient(to right, #FFC70D, #FE0A09, #FFC70D);
                background-size: 200% 100%;
                border-radius: 54rpx;
                font-size: 20rpx;
                text-align: center;
                line-height: 54rpx;
                animation: gradientBtn 2s linear infinite;

                &:hover {
                    color: white;
                }

                @media (max-width: $mobile-breakpoint) {
                    font-size: 26mrpx;
                    width: auto;
                    height: auto;
                    background: none;

                }

            }
        }
    }

    &-pixi{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        & > div{
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

}

@keyframes scaleAnim3 {
    0% {
        transform: scale(0);
        opacity: 1;
    }

    50% {
        transform: scale(0.3);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}