.xqbs {

    @media (max-width: $mobile-breakpoint) {
        padding: 0 30mrpx;
    }

    &-spacer {
        padding-top: 20rpx;
        padding-bottom: 43rpx;
    }

    &-content {
        display: flex;
        margin-bottom: 30rpx;

        @media (max-width: $mobile-breakpoint) {
            flex-direction: column;
        }
    }

    &-70th {
        position: relative;
        flex: 0 0 420rpx;
        height: 660rpx;
        font-size: 0;
        margin-right: 30rpx;
        border-radius: 10rpx;
        box-shadow: 0px 2px 4px 0px rgba(196, 195, 195, 0.50);
        background-image: url(/images/xqbs_70th.png);
        background-repeat: no-repeat;
        background-size: contain;

        @media (max-width: $mobile-breakpoint) {
            border-radius: 10mrpx;
            margin: 0;
            margin-top: 100mrpx;
            width: 100%;
            flex: 1;
            margin-bottom: 30mrpx;
        }

        &-top {
            height: 299rpx;
            text-align: center;
            padding-top: 30rpx;

            @media (max-width: $mobile-breakpoint) {
                height: 590mrpx;
                padding: 0;
            }

            &-title {
                font-size: 32rpx;
                text-align: center;
                color: $primary-color;
                background-image: url(/images/title_bg_square.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;

                @media (max-width: $mobile-breakpoint) {
                    height: 100mrpx;
                    padding: 0;
                    font-size: 32mrpx;
                    margin-top: -100mrpx;
                    line-height: 100mrpx;
                    background-size: 60%;
                    margin-bottom: 0;
                }
            }

            &-logo {
                padding-top: 20rpx;

                img {
                    width: 244rpx;
                    height: 212rpx;
                }

                @media (max-width: $mobile-breakpoint) {
                    height: 350mrpx;
                    margin-top: 100mrpx;

                    img {
                        width: 403mrpx;
                        height: 350mrpx;
                    }

                }
            }
        }

        &-bottom {
            height: 362rpx;
            color: white;
            font-size: 20rpx;
            line-height: 28rpx;
            padding: 50rpx 60rpx 0;

            @media (max-width: $mobile-breakpoint) {
                font-size: 28mrpx;
                line-height: 48mrpx;
                height: 595mrpx;
                padding: 100mrpx 60mrpx 0;

            }
        }

        &-content {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

    }

    &-right {
        flex: 1;
    }

    &-postcard {
        width: 100%;
        height: 315rpx;
        margin-bottom: 30rpx;
        display: flex;
        box-shadow: 0px 2px 8px 2px rgba(211, 211, 211, 0.30);
        font-size: 0;

        @media (max-width: $mobile-breakpoint) {
            margin-bottom: 30mrpx;
            flex: 1;
            height: 297mrpx;
        }

        &-title {
            flex: 0 0 150rpx;
            background-image: url(/images/xqbs_postcard.jpg);
            background-repeat: no-repeat;
            background-size: contain;
            font-size: 32rpx;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 40rpx;

            @media (max-width: $mobile-breakpoint) {
                flex: 0 0 142mrpx;
                font-size: 32mrpx;
                line-height: 40mrpx;
            }
        }

        &-swiper {
            flex: 0 0 600rpx;
            overflow: hidden;
            display: flex;
            height: 100%;

            &-el {
                width: 576rpx;

                @media (max-width: $mobile-breakpoint) {
                    height: 297mrpx;
                    width: 525mrpx;
                }
            }

            .swiper-img {
                width: 100%;
                height: 315rpx;

                @media (max-width: $mobile-breakpoint) {
                    height: 297mrpx;
                }
            }

            @media (max-width: $mobile-breakpoint) {
                flex: 1;
                font-size: 32mrpx;
            }

            &-pagination {
                flex: 0 0 24rpx;
                height: 100%;
                background-color: #D90D0D;

                @media (max-width: $mobile-breakpoint) {
                    flex: 0 0 24mrpx;
                }

                ul {
                    padding: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    margin: 0;
                }

                li {
                    list-style: none;
                    height: 10rpx;
                    width: 10rpx;
                    border-radius: 50%;
                    background-color: white;
                    margin: 5rpx 0;

                    @media (max-width: $mobile-breakpoint) {
                        width: 8mrpx;
                        height: 8mrpx;
                        margin: 6mrpx;
                    }

                    button {
                        display: none;
                    }

                    &.slick-active {
                        height: 23rpx;
                        border-radius: 8rpx;
                        background-color: #FFDE06 !important;
                    }
                }
            }
        }


    }

    &-cards {
        display: flex;
        justify-content: space-between;

        @media (max-width: $mobile-breakpoint) {
            margin-bottom: 56mrpx;
        }

        &-item {
            width: 360rpx;
            height: 315rpx;
            border-radius: 5rpx;
            overflow: hidden;
            box-shadow: 0px 2px 8px 2px rgba(211, 211, 211, 0.30);

            @media (max-width: $mobile-breakpoint) {
                width: 331mrpx;
                height: 289mrpx;
            }

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

}