.xqdt {

    &-flower {
        @media (max-width: $mobile-breakpoint) {
            display: none;
        }
    }

    &-content {
        margin: 0 -15rpx;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 35rpx;

        @media (max-width: $mobile-breakpoint) {
            flex-direction: column;
            flex-wrap: nowrap;
            margin: 0;
            padding: 25mrpx 30mrpx 40mrpx;
        }

    }

    &-card {
        flex: 1 1 500rpx;
        background-color: white;
        border-radius: 10rpx;
        overflow: hidden;
        box-shadow: 0px 2px 8px 2px rgba(204, 203, 203, 0.30);
        margin: 15rpx;
        height: 350rpx;

        @media (max-width: $mobile-breakpoint) {
            margin: 0;
            height: auto;
            flex: 0 0 auto;
            border-radius: 20mrpx;
            margin-bottom: 30mrpx;
        }

        &-heading {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 10rpx 25rpx 0 25rpx;
            background-image: url(/images/news_card_divider.png);
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: contain;
            padding: 0 8rpx;
            padding-bottom: 10rpx;

            @media (max-width: $mobile-breakpoint) {
                margin: 10mrpx 22mrpx 10mrpx;
                padding-bottom: 12mrpx;
            }


            &-extends {
                a {
                    font-size: 16rpx;

                    @media (max-width: $mobile-breakpoint) {
                        font-size: 22mrpx;
                    }
                }
            }
        }

        &-body {
            // margin: 6rpx 25rpx 0 15rpx;
            padding: 15rpx 25rpx 15rpx 15rpx;

            @media (max-width: $mobile-breakpoint) {
                margin: 10mrpx 30mrpx 20mrpx 30mrpx;
            }
        }

    }

    &-swiper {
        position: relative;
        height: 100%;
        width: 100%;
        overflow: hidden;
        z-index: 0;

        .swiper-img {
            width: 100%;
            height: 350rpx;
            // height: 388mrpx;
        }


        @media (max-width: $mobile-breakpoint) {
            height: 388mrpx;
            border-radius: 20mrpx;

            .swiper-img {
                width: 100%;
                height: 388mrpx;
            }
        }

        &-el {
            height: 100%;
            width: 100%;
        }

        &-title {
            box-sizing: border-box;
            height: 58rpx;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: rgba(19, 19, 19, 0.50);
            z-index: 5;
            display: flex;
            align-items: center;
            color: white;
            font-size: 16rpx;
            padding: 0 30rpx;
            justify-content: space-between;

            a {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }

            @media (max-width: $mobile-breakpoint) {
                height: 95mrpx;
                font-size: 32mrpx;
                text-align: center;
                flex-direction: column;
                justify-content: space-around;
                font-weight: bold;
                padding: 10mrpx 0;
            }

        }

        &-pagination {
            ul {
                padding: 0;
                display: flex;
                margin: 0;
            }

            li {
                list-style: none;
                height: 10rpx;
                width: 10rpx;
                border-radius: 50%;
                background-color: white;
                margin-left: 12rpx;

                @media (max-width: $mobile-breakpoint) {
                    width: 10mrpx;
                    height: 10mrpx;
                    margin: 0 5mrpx;
                }

                button {
                    display: none;
                }

                &.slick-active {
                    background-color: #FFDE06 !important;
                }
            }
        }

    }

    &-news {

        padding-left: 25rpx;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: -25rpx;

        li {
            list-style: none;
            display: flex;
            align-items: center;
            height: 43rpx;

            @media (max-width: $mobile-breakpoint) {
                height: 48mrpx;
            }

            &::before {
                content: "";
                flex: 0 0 5rpx;
                width: 5rpx;
                height: 5rpx;
                border-radius: 50%;
                background-color: #d8d8d8;
                margin-right: 20rpx;
                display: block;

                @media (max-width: $mobile-breakpoint) {
                    flex: 0 0 5mrpx;
                    width: 5mrpx;
                    height: 5mrpx;
                    margin-right: 14mrpx;
                }
            }

        }

        a {
            display: flex;
            align-items: center;
            min-width: 0;
            border-bottom: 1px solid transparent;
            font-size: 16rpx;
            flex: 1;

            @media (max-width: $mobile-breakpoint) {
                font-size: 24mrpx;
            }

            &:hover {
                border-color: $primary-color;

                span {
                    color: $primary-color;
                }
            }

            p {
                flex: 1;
                padding-right: 10rpx;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;

                @media (max-width: $mobile-breakpoint) {
                    padding-right: 20mrpx;
                }
            }

            span {
                color: #ACAAA0;
                font-size: inherit;
            }
        }

    }

}