.yxdc {

    &-spacer {
        padding-top: 20rpx;
        padding-bottom: 43rpx;
    }

    &-content {
        display: flex;
        margin-bottom: 270rpx;

        @media (max-width: $mobile-breakpoint) {
            height: auto;
            flex-direction: column;
            padding: 0 30mrpx;
            margin-bottom: 30mrpx;
        }

        &-spacer {
            flex: 0 0 30rpx;
        }

        &-item {
            flex: 1;
        }

    }

    &-video {
        video {
            width: 558rpx;
            height: 314rpx;

            @media (max-width: $mobile-breakpoint) {
                width: 100%;
                height: 388mrpx;
            }
        }
    }

    &-gallery {
        height: 314rpx;
        width: 612rpx;
        position: relative;

        &-item{
            // position: absolute;
            position: absolute;
            transition: .2s ease;
            img{
                width: 100%;
                height: 100%;
            }
            &:nth-child(1), &:nth-child(2){
                width: 210rpx;
                height: 157rpx;
            }
            &:nth-child(1) {
                left: 0;
                top: 0;
            }
            &:nth-child(2) {
                left: 0;
                top: 157rpx;
            }
            &:nth-child(3){
                left: 210rpx;
                top: 0;
                width: 210rpx;
                height: 118rpx;
            }
            &:nth-child(4), &:nth-child(5), &:nth-child(6), &:nth-child(7) {
                width: 105rpx;
                height: 98rpx;
            }
            &:nth-child(4) {
                left: 210rpx;
                top: 118rpx;
            }
            &:nth-child(5) {
                left: 315rpx;
                top: 118rpx;
            }
            &:nth-child(6) {
                left: 210rpx;
                bottom: 0;
            }
            &:nth-child(7) {
                left: 315rpx;
                bottom: 0;
            }
            &:nth-child(8) {
                right: 0;
                top: 0;
                width: 192rpx;
                height: 314rpx;
            }
        }

    }

    &-swiper {
        position: relative;

        @media (max-width: $mobile-breakpoint) {
            border-radius: 20mrpx;
            overflow: hidden;
            background-color: white;
            padding: 20mrpx;

            .swiper-img {
                width: 100%;
                height: 388mrpx;
            }
        }

        &-el {
            border-radius: 15mrpx;
            overflow: hidden;
            z-index: 0;
        }

        &-pagination {
            position: absolute;
            display: flex;
            justify-content: center;
            bottom: 50mrpx;
            width: 100%;
            left: 0;
            @extend .xqdt-swiper-pagination;
        }
    }
}


.yxdc-list {
    padding-bottom: 80rpx;

    @media (max-width: $mobile-breakpoint) {
        padding: 0 20mrpx
    }

    &-heading {

        display: flex;
        justify-content: space-between;
        padding: 15rpx 30rpx;

        @media (max-width: $mobile-breakpoint) {
            padding: 30mrpx 28mrpx;
        }
    }
}