.yxq {

    &-tab {
        margin: 27rpx 0;
    }

    &-video {}

    &-spacer {
        padding-top: 10rpx;
        padding-bottom: 20rpx;
    }

    &-qrcodes {
        &-title {
            color: #515151;
            font-size: 14rpx;
            margin-bottom: 8rpx;
        }

        &-qrcode {
            width: 77rpx;
            height: 77rpx;
        }
    }

    &-block {
        height: 360rpx;
        width: 100%;
        background-color: white;
        box-shadow: 0px 2px 4px 0px rgba(199, 199, 199, 0.50);

        margin-bottom: 15rpx;
    }

    &-ticket {
        margin-bottom: 15rpx;
    }

    &-yzf {

        &-heading {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20rpx;
            padding: 0 20rpx
        }

        &-gallery {
            margin-bottom: 30rpx;
        }
    }

    &-yhd {
        &-tickets {
            margin-bottom: 50rpx;
        }
    }

}