.yxq {

    &-content {
        @media (max-width: $mobile-breakpoint) {
            padding: 0 30mrpx;
        }
    }

    &-tab {
        padding: 27rpx 0;

        @media (max-width: $mobile-breakpoint) {
            padding: 48mrpx 0;
        }
    }

    &-video {}

    &-spacer {
        padding-top: 10rpx;
        padding-bottom: 20rpx;
    }

    &-qrcodes {
        &-title {
            color: #515151;
            font-size: 14rpx;
            margin-bottom: 8rpx;
        }

        &-qrcode {
            width: 77rpx;
            height: 77rpx;
        }
    }

    &-block {
        height: 360rpx;
        width: 100%;
        background-color: white;
        box-shadow: 0px 2px 4px 0px rgba(199, 199, 199, 0.50);
        margin-bottom: 15rpx;
        overflow: hidden;

        @media (max-width: $mobile-breakpoint) {
            box-shadow: 0px 2px 8px 2px rgba(199, 199, 199, 0.50);
            border-radius: 20mrpx;
            height: 388mrpx;
            margin-bottom: 25mrpx;
        }
    }

    &-ticket {
        margin-bottom: 15rpx;

        @media (max-width: $mobile-breakpoint) {
            margin-bottom: 30mrpx;
        }
    }
}

.yxq-yzb {
    &-block {
        padding: 20rpx;
        display: flex;
        height: auto;

        @media (max-width: $mobile-breakpoint) {
            background-color: transparent;
            box-shadow: none;
            padding: 0;
        }
    }

    &-links {
        @media (max-width: $mobile-breakpoint) {
            order: 2;
        }
    }

    &-video {
        @media (max-width: $mobile-breakpoint) {
            order: 1;
        }
    }

    &-qrcodes {
        display: flex;
        flex-wrap: wrap;

        @media (max-width: $mobile-breakpoint) {
            margin: 0 -15mrpx;
        }

        &-item {
            width: 33.33%;
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-bottom: 20rpx;

            @media (max-width: $mobile-breakpoint) {
                cursor: pointer;
                width: 50%;
                padding: 0 15mrpx;
                margin-bottom: 30mrpx;
            }
        }

        &-qrcode {
            width: 100rpx;
            height: 100rpx;

            @media (max-width: $mobile-breakpoint) {
                display: none;
            }
        }

        &-title {
            text-align: center;
            font-size: 14rpx;
            color: #515151;
            margin-bottom: 10rpx;

            @media (max-width: $mobile-breakpoint) {
                color: white;
                font-size: 24mrpx;
                padding: 20mrpx 0;
                text-align: center;
                background-image: linear-gradient(to bottom, #FE785C, #F97B7B);
                width: 100%;
                border-radius: 150mrpx;
            }
        }
    }

    &-link {
        text-align: center;

        a {
            padding: 5rpx 25rpx;
            color: #515151;
            background: #f7f7f7;
            border-radius: 10rpx;
            font-size: 14rpx;

            @media (max-width: $mobile-breakpoint) {
                font-size: 24mrpx;
                padding: 15mrpx;
                width: 100%;
                border-radius: 100mrpx;
                text-align: center;
                display: block;
                color: #333333;
                background-color: #EBEBEB;
            }
        }
    }
}

.yxq-yfx {
    &-block {
        height: auto;

        img {
            display: block;
            width: 100%;
            height: 100%;
        }

        &-pc {
            @media (max-width: $mobile-breakpoint) {
                display: none;
            }
        }

        &-mobile {
            display: none;

            @media (max-width: $mobile-breakpoint) {
                display: block;
            }
        }
    }
}

.yxq-yzf {
    &-heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20rpx;
        padding: 0 20rpx;

        @media (max-width: $mobile-breakpoint) {
            margin-bottom: 27mrpx;
        }
    }

    &-gallery {
        margin-bottom: 30rpx;

        @media (max-width: $mobile-breakpoint) {
            margin-bottom: 30mrpx;
        }
    }

    &-block {
        height: 354rpx;
        background-image: url(/images/yxq/yzf.png);
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
        margin-bottom: 27rpx;

        @media (max-width: $mobile-breakpoint) {
            height: 388mrpx;
            background-image: url(/images/yxq/yzf_mobile.png);
        }
    }

    &-sendButton {
        display: none;

        @media (max-width: $mobile-breakpoint) {
            display: block;
        }
    }

    &-scrollmessage {
        position: absolute;
        bottom: 0;
        left: 44rpx;
        width: 656rpx;
        height: 267rpx;
        padding: 50rpx 26rpx 0;
        background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.00), rgba(255, 255, 255, 0.45) 15%, #ffffff 96%);
        overflow: scroll;

        @media (max-width: $mobile-breakpoint) {
            height: 290mrpx;
            left: 60mrpx;
            width: 580mrpx;
            background-image: none;
        }

        &-item {
            margin-bottom: 18rpx;
        }

        &-message {
            font-size: 16rpx;
            color: $primary-color;
            margin-bottom: 16rpx;

            @media (max-width: $mobile-breakpoint) {
                font-size: 21mrpx;
            }
        }

        &-author {
            font-size: 16rpx;
            color: #333333;
            text-align: right;

            @media (max-width: $mobile-breakpoint) {
                font-size: 21mrpx;
            }
        }
    }


    &-form {
        background-color: white;
        position: relative;

        img {
            width: 100%;
        }

        &-content {

            @media (max-width: $mobile-breakpoint) {
                margin-top: -260mrpx;
                padding: 0 60mrpx;
            }
        }

        &-captcha {
            display: flex;
            &-image{
                display: flex;
                align-items: center;
                img{
                    margin-right: 20mrpx;
                }
            }
        }

        &-input {

            textarea,
            input {
                outline: none;
                width: 100%;
                resize: none;

                @media (max-width: $mobile-breakpoint) {
                    margin-bottom: 30mrpx;
                    border: 1px solid #979797;
                    border-radius: 8mrpx;
                    font-size: 24mrpx;
                    padding: 25mrpx
                }
            }
        }

    }

}

.yxq-yhd {
    &-tickets {
        margin-bottom: 50rpx;
    }
}