<div class="swiper-slide scale">
    <div class="dsj-item">
        <div class="dsj-item-desc">
            <div class="dsj-item-desc-text">
                东北财经大学始建于1952年10月。当时，东北人民政府根据教育部颁布的全国高等学校调整设置方案。东北财经大学始建于1952年10月。当时，东北人民政府根据教育部颁布的全国高等学校调整设置方案。东北财经大学始建于1952年10月。当时，东北人民政府根据教育部颁布的全国高等学校调整设置方案。
            </div>
        </div>
        <div class="dsj-item-waterdrop" onclick="handleWaterDropClick(0)" style="background-image: url(/images/dsj/green.png);">
            <div class="dsj-item-waterdrop-circle">1952</div>
        </div>
    </div>
</div>
<div class="swiper-slide scale">
    <div class="dsj-item dsj-item-bottom">
        <div class="dsj-item-desc">
            <div class="dsj-item-desc-text">
                东北财经大学始建于1952年10月。当时，东北人民政府根据教育部颁布的全国高等学校调整设置方案。东北财经大学始建于1952年10月。当时，东北人民政府根据教育部颁布的全国高等学校调整设置方案。东北财经大学始建于1952年10月。当时，东北人民政府根据教育部颁布的全国高等学校调整设置方案。
            </div>
        </div>
        <div class="dsj-item-waterdrop" onclick="handleWaterDropClick(1)" style="background-image: url(/images/dsj/cyan.png);">
            <div class="dsj-item-waterdrop-circle">1952</div>
        </div>
    </div>
</div>
<div class="swiper-slide scale">
    <div class="dsj-item">
        <div class="dsj-item-desc">
            <div class="dsj-item-desc-text">
                东北财经大学始建于1952年10月。当时，东北人民政府根据教育部颁布的全国高等学校调整设置方案。
            </div>
        </div>
        <div class="dsj-item-waterdrop" onclick="handleWaterDropClick(2)" style="background-image: url(/images/dsj/blue.png);">
            <div class="dsj-item-waterdrop-circle">1952</div>
        </div>
    </div>
</div>
<div class="swiper-slide scale">
    <div class="dsj-item dsj-item-bottom">
        <div class="dsj-item-desc">
            <div class="dsj-item-desc-text">
                东北财经大学始建于1952年10月。当时，东北人民政府根据教育部颁布的全国高等学校调整设置方案。
            </div>
        </div>
        <div class="dsj-item-waterdrop" onclick="handleWaterDropClick(3)" style="background-image: url(/images/dsj/orange.png);">
            <div class="dsj-item-waterdrop-circle">1952</div>
        </div>
    </div>
</div>

<div class="swiper-slide scale">
    <div class="dsj-item">
        <div class="dsj-item-desc">
            <div class="dsj-item-desc-text">
                东北财经大学始建于1952年10月。当时，东北人民政府根据教育部颁布的全国高等学校调整设置方案。
            </div>
        </div>
        <div class="dsj-item-waterdrop" onclick="handleWaterDropClick(4)" style="background-image: url(/images/dsj/red.png);">
            <div class="dsj-item-waterdrop-circle">1952</div>
        </div>
    </div>
</div>
<div class="swiper-slide scale">
    <div class="dsj-item dsj-item-bottom">
        <div class="dsj-item-desc">
            <div class="dsj-item-desc-text">
                东北财经大学始建于1952年10月。当时，东北人民政府根据教育部颁布的全国高等学校调整设置方案。
            </div>
        </div>
        <div class="dsj-item-waterdrop" onclick="handleWaterDropClick(5)" style="background-image: url(/images/dsj/green.png);">
            <div class="dsj-item-waterdrop-circle">1952</div>
        </div>
    </div>
</div>
<div class="swiper-slide scale">
    <div class="dsj-item">
        <div class="dsj-item-desc">
            <div class="dsj-item-desc-text">
                东北财经大学始建于1952年10月。当时，东北人民政府根据教育部颁布的全国高等学校调整设置方案。
            </div>
        </div>
        <div class="dsj-item-waterdrop" onclick="handleWaterDropClick(6)" style="background-image: url(/images/dsj/cyan.png);">
            <div class="dsj-item-waterdrop-circle">1952</div>
        </div>
    </div>
</div>
<div class="swiper-slide scale">
    <div class="dsj-item dsj-item-bottom">
        <div class="dsj-item-desc">
            <div class="dsj-item-desc-text">
                东北财经大学始建于1952年10月。当时，东北人民政府根据教育部颁布的全国高等学校调整设置方案。
            </div>
        </div>
        <div class="dsj-item-waterdrop" onclick="handleWaterDropClick(7)" style="background-image: url(/images/dsj/blue.png);">
            <div class="dsj-item-waterdrop-circle">1952</div>
        </div>
    </div>
</div>
