<div class="swiper-slide scale">
    <div class="dsj-item">
        <div class="dsj-item-desc">
            <div class="dsj-item-desc-text">
                东北财经大学始建于1952年10月。当时，东北人民政府根据教育部颁布的全国高等学校调整设置方案。
            </div>
        </div>
        <div class="dsj-item-waterdrop" style="background: rgba(1, 200, 126, 0.75);">
            <div class="dsj-item-waterdrop-shadow">
                <div class="dsj-item-waterdrop-circle" style="background: radial-gradient(#63f489, #07b675);">1952</div>
            </div>
        </div>
    </div>
</div>
<div class="swiper-slide scale">
    <div class="dsj-item dsj-item-bottom">
        <div class="dsj-item-desc">
            <div class="dsj-item-desc-text">
                东北财经大学始建于1952年10月。当时，东北人民政府根据教育部颁布的全国高等学校调整设置方案。
            </div>
        </div>
        <div class="dsj-item-waterdrop" style="background: rgba(6, 88, 165, 0.75);">
            <div class="dsj-item-waterdrop-shadow">
                <div class="dsj-item-waterdrop-circle" style="background: radial-gradient(#0b67a5, #073eb6);">1952</div>
            </div>
        </div>
    </div>
</div>
<div class="swiper-slide scale">
    <div class="dsj-item">
        <div class="dsj-item-desc">
            <div class="dsj-item-desc-text">
                东北财经大学始建于1952年10月。当时，东北人民政府根据教育部颁布的全国高等学校调整设置方案。
            </div>
        </div>
        <div class="dsj-item-waterdrop" style="background: rgba(75, 6, 165, 0.75);">
            <div class="dsj-item-waterdrop-shadow">
                <div class="dsj-item-waterdrop-circle" style="background: radial-gradient(#601dad, #8913d8);">1952</div>
            </div>
        </div>
    </div>
</div>
<div class="swiper-slide scale">
    <div class="dsj-item dsj-item-bottom">
        <div class="dsj-item-desc">
            <div class="dsj-item-desc-text">
                东北财经大学始建于1952年10月。当时，东北人民政府根据教育部颁布的全国高等学校调整设置方案。
            </div>
        </div>
        <div class="dsj-item-waterdrop" style="background: rgba(209, 113, 23, 0.75);">
            <div class="dsj-item-waterdrop-shadow">
                <div class="dsj-item-waterdrop-circle" style="background: radial-gradient(#d67215, #d89313);">1952</div>
            </div>
        </div>
    </div>
</div>

<div class="swiper-slide scale">
    <div class="dsj-item">
        <div class="dsj-item-desc">
            <div class="dsj-item-desc-text">
                东北财经大学始建于1952年10月。当时，东北人民政府根据教育部颁布的全国高等学校调整设置方案。
            </div>
        </div>
        <div class="dsj-item-waterdrop" style="background: rgba(1, 200, 126, 0.75);">
            <div class="dsj-item-waterdrop-shadow">
                <div class="dsj-item-waterdrop-circle" style="background: radial-gradient(#63f489, #07b675);">1952</div>
            </div>
        </div>
    </div>
</div>
<div class="swiper-slide scale">
    <div class="dsj-item dsj-item-bottom">
        <div class="dsj-item-desc">
            <div class="dsj-item-desc-text">
                东北财经大学始建于1952年10月。当时，东北人民政府根据教育部颁布的全国高等学校调整设置方案。
            </div>
        </div>
        <div class="dsj-item-waterdrop" style="background: rgba(6, 88, 165, 0.75);">
            <div class="dsj-item-waterdrop-shadow">
                <div class="dsj-item-waterdrop-circle" style="background: radial-gradient(#0b67a5, #073eb6);">1952</div>
            </div>
        </div>
    </div>
</div>
<div class="swiper-slide scale">
    <div class="dsj-item">
        <div class="dsj-item-desc">
            <div class="dsj-item-desc-text">
                东北财经大学始建于1952年10月。当时，东北人民政府根据教育部颁布的全国高等学校调整设置方案。
            </div>
        </div>
        <div class="dsj-item-waterdrop" style="background: rgba(75, 6, 165, 0.75);">
            <div class="dsj-item-waterdrop-shadow">
                <div class="dsj-item-waterdrop-circle" style="background: radial-gradient(#601dad, #8913d8);">1952</div>
            </div>
        </div>
    </div>
</div>
<div class="swiper-slide scale">
    <div class="dsj-item dsj-item-bottom">
        <div class="dsj-item-desc">
            <div class="dsj-item-desc-text">
                东北财经大学始建于1952年10月。当时，东北人民政府根据教育部颁布的全国高等学校调整设置方案。
            </div>
        </div>
        <div class="dsj-item-waterdrop" style="background: rgba(209, 113, 23, 0.75);">
            <div class="dsj-item-waterdrop-shadow">
                <div class="dsj-item-waterdrop-circle" style="background: radial-gradient(#d67215, #d89313);">1952</div>
            </div>
        </div>
    </div>
</div>
