<div class="header">
    <div class="header-mobile">
        <img class="header-mobile-logo" src="/images/header_logo_mobile.png" />
        <img class="header-mobile-menu" src="/images/header_menu_icon.png" />
    </div>
    <div class="header-wrap">
        <div>
            <img class="header-logo" src="/images/logo.png" alt="">
        </div>
        <div class="header-menu">
            <a class="header-menu-item current" href="index.html">首页</a>
            <a class="header-menu-item" href="xqdt.html">校庆动态</a>
            <a class="header-menu-item" href="hdyl.html">活动一览</a>
            <a class="header-menu-item" href="dsj.html">大事记</a>
            <a class="header-menu-item" href="yxdc.html">影像东财</a>
            <a class="header-menu-item" href="xqbs.html">校庆标识</a>
            <a class="header-menu-item" href="hkmx.html">回馈母校</a>
            <a class="header-menu-item" href="yxq_yzb.html">云校庆</a>
        </div>
    </div>
</div>