<div class="ticket">
    <div class="ticket-info">
        <div class="ticket-title">东财建校70周年这一天</div>
        <div class="ticket-divider"></div>
        <div class="ticket-desc">
            <p>主办单位：东北财经大学</p>
            <p>承办单位：校庆办</p>
            <p>活动时间：2022-xx-xx 00:00</p>
        </div>
    </div>
    <a class="ticket-link">
        参与活动
    </a>
    <div class="ticket-scan">
        <div class="ticket-tip">扫描二维码参与活动</div>
        <img class="ticket-qrcode"
            src="https://qr.api.cli.im/newqr/create?data=1&level=H&transparent=false&bgcolor=%23FFFFFF&forecolor=%23000000&blockpixel=12&marginblock=1&logourl=&logoshape=no&size=500&kid=cliim&key=0e4acf6d032caaa0e6054e7eea845094"
            alt="">
    </div>
</div>