{% extends "main.html" %}
{% set title = "大事记" %}

{% block content %}
<div class="dsj">
    <div class="dsj-divider"></div>
    <div class="container">

        <div class="dsj-list">

            <div class="dsj-item">
                <div class="dsj-item-text">
                    东北财经大学始建于1952年10月。当时，东北人民政府根据教育部颁布的全国高等学校调整设置方案，决定将东北财政专门学校、东北银行专门学校、东北计划统计学院和东北人民大学（现为吉林大学）的财政信贷系、会计统计系合并，在沈阳创建东北财经学院。
                </div>
                <div class="dsj-item-waterdrop">
                    <div class="dsj-item-waterdrop-shadow">
                        <div class="dsj-item-waterdrop-circle">1952</div>
                    </div>
                </div>
            </div>

            <div class="dsj-item">
                <div class="dsj-item-text">
                    八月，根据高等教育部全国高等学校院系调整计划，东北商业专科学校、东北合作专科学校并入东北财经学院。
                </div>
                <div class="dsj-item-waterdrop">
                    <div class="dsj-item-waterdrop-shadow">
                        <div class="dsj-item-waterdrop-circle">1952</div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
{% endblock %}