{% extends "main.html" %}
{% set title = "大事记" %}

{% block css %}
<link rel="stylesheet" href="/js/packages/swiper/swiper.min.css">
{% endblock %}

{% block content %}
<div class="dsj">
    <!-- <div class="dsj-divider"></div> -->
    <div class="container">

        <div class="dsj-list">

            <div class="dsj-swiper-btn dsj-swiper-prev"></div>
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="dsj-item">
                        <div class="dsj-item-desc">
                            <div class="dsj-item-desc-text">
                                东北财经大学始建于1952年10月。当时，东北人民政府根据教育部颁布的全国高等学校调整设置方案，决定将东北财政专门学校、东北银行专门学校、东北计划统计学院和东北人民大学（现为吉林大学）的财政信贷系、会计统计系合并，在沈阳创建东北财经学院。
                            </div>
                        </div>
                        <div class="dsj-item-waterdrop">
                            <div class="dsj-item-waterdrop-shadow">
                                <div class="dsj-item-waterdrop-circle">1952</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="dsj-item">
                        <div class="dsj-item-desc">
                            <div class="dsj-item-desc-text">
                                东北财经大学始建于1952年10月。当时，东北人民政府根据教育部颁布的全国高等学校调整设置方案，决定将东北财政专门学校、东北银行专门学校、东北计划统计学院和东北人民大学（现为吉林大学）的财政信贷系、会计统计系合并，在沈阳创建东北财经学院。
                            </div>
                        </div>
                        <div class="dsj-item-waterdrop">
                            <div class="dsj-item-waterdrop-shadow">
                                <div class="dsj-item-waterdrop-circle">1952</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="dsj-item">
                        <div class="dsj-item-desc">
                            <div class="dsj-item-desc-text">
                                东北财经大学始建于1952年10月。当时，东北人民政府根据教育部颁布的全国高等学校调整设置方案，决定将东北财政专门学校、东北银行专门学校、东北计划统计学院和东北人民大学（现为吉林大学）的财政信贷系、会计统计系合并，在沈阳创建东北财经学院。
                            </div>
                        </div>
                        <div class="dsj-item-waterdrop">
                            <div class="dsj-item-waterdrop-shadow">
                                <div class="dsj-item-waterdrop-circle">1952</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="dsj-item">
                        <div class="dsj-item-desc">
                            <div class="dsj-item-desc-text">
                                东北财经大学始建于1952年10月。当时，东北人民政府根据教育部颁布的全国高等学校调整设置方案，决定将东北财政专门学校、东北银行专门学校、东北计划统计学院和东北人民大学（现为吉林大学）的财政信贷系、会计统计系合并，在沈阳创建东北财经学院。
                            </div>
                        </div>
                        <div class="dsj-item-waterdrop">
                            <div class="dsj-item-waterdrop-shadow">
                                <div class="dsj-item-waterdrop-circle">1952</div>
                            </div>
                        </div>
                    </div>
                </div>
                                <div class="swiper-slide">
                                    <div class="dsj-item">
                                        <div class="dsj-item-desc">
                                            <div class="dsj-item-desc-text">
                                                东北财经大学始建于1952年10月。当时，东北人民政府根据教育部颁布的全国高等学校调整设置方案，决定将东北财政专门学校、东北银行专门学校、东北计划统计学院和东北人民大学（现为吉林大学）的财政信贷系、会计统计系合并，在沈阳创建东北财经学院。
                                            </div>
                                        </div>
                                        <div class="dsj-item-waterdrop">
                                            <div class="dsj-item-waterdrop-shadow">
                                                <div class="dsj-item-waterdrop-circle">1952</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="dsj-item">
                                        <div class="dsj-item-desc">
                                            <div class="dsj-item-desc-text">
                                                东北财经大学始建于1952年10月。当时，东北人民政府根据教育部颁布的全国高等学校调整设置方案，决定将东北财政专门学校、东北银行专门学校、东北计划统计学院和东北人民大学（现为吉林大学）的财政信贷系、会计统计系合并，在沈阳创建东北财经学院。
                                            </div>
                                        </div>
                                        <div class="dsj-item-waterdrop">
                                            <div class="dsj-item-waterdrop-shadow">
                                                <div class="dsj-item-waterdrop-circle">1952</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="dsj-item">
                                        <div class="dsj-item-desc">
                                            <div class="dsj-item-desc-text">
                                                东北财经大学始建于1952年10月。当时，东北人民政府根据教育部颁布的全国高等学校调整设置方案，决定将东北财政专门学校、东北银行专门学校、东北计划统计学院和东北人民大学（现为吉林大学）的财政信贷系、会计统计系合并，在沈阳创建东北财经学院。
                                            </div>
                                        </div>
                                        <div class="dsj-item-waterdrop">
                                            <div class="dsj-item-waterdrop-shadow">
                                                <div class="dsj-item-waterdrop-circle">1952</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="dsj-item">
                                        <div class="dsj-item-desc">
                                            <div class="dsj-item-desc-text">
                                                东北财经大学始建于1952年10月。当时，东北人民政府根据教育部颁布的全国高等学校调整设置方案，决定将东北财政专门学校、东北银行专门学校、东北计划统计学院和东北人民大学（现为吉林大学）的财政信贷系、会计统计系合并，在沈阳创建东北财经学院。
                                            </div>
                                        </div>
                                        <div class="dsj-item-waterdrop">
                                            <div class="dsj-item-waterdrop-shadow">
                                                <div class="dsj-item-waterdrop-circle">1952</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

            </div>

            <div class="dsj-swiper-btn dsj-swiper-next"></div>


        </div>

    </div>
</div>
{% endblock %}

{% block script %}
<script src="/js/packages/swiper/swiper.min.js"></script>
<script>
    var mySwiper = new Swiper('.dsj-list', {
        // speed: 400,
        // spaceBetween: 0,
        slidesPerView: 5,
        direction: "horizontal",
        loop: true,
        navigation: {
          nextEl: '.dsj-swiper-next',
          prevEl: '.dsj-swiper-prev',
        },
        // autoplay: {
        //     delay: 1500,
        // },
    });
</script>
{% endblock %}