{% extends "main.html" %}
{% set title = "大事记" %}

{% block css %}
<link rel="stylesheet" href="/js/packages/swiper/swiper.min.css">
{% endblock %}

{% block content %}
<div class="dsj">
    <div class="dsj-divider"></div>
    <div class="container">

        <div class="dsj-title hide_in_pc">大事记</div>

        <div class="dsj-list">
            <div class="dsj-swiper-btn dsj-swiper-prev"></div>

            <div class="swiper-wrapper">
                {% include "parts/dsj.html" %}
            </div>

            <div class="dsj-swiper-btn dsj-swiper-next"></div>
        </div>

    </div>
</div>
{% endblock %}

{% block script %}
<script src="/js/packages/swiper/swiper.min.js"></script>
<script>

    function toggleClass(list, index) {
        for (var i = 0; i < list.length; i++) {
            if(i>=index && i<=index+4){
                $(list[i]).removeClass("scale")
            }else{
                $(list[i]).addClass("scale")
            }
        }
    }

    var isMobile = screen.width <= 750;
    var mySwiper = new Swiper('.dsj-list', {
        direction: isMobile?"vertical":"horizontal",
        loop: !isMobile,
        freeMode: isMobile,
        slidesPerView: isMobile ? "auto" : 5,
        navigation: {
          nextEl: '.dsj-swiper-next',
          prevEl: '.dsj-swiper-prev',
        },
        on: {
            init: function () {
                toggleClass(this.slides, this.activeIndex)
            },
            slideChange: function () {
                toggleClass(this.slides, this.activeIndex);
            }
        }

        // autoplay: {
        //     delay: 1500,
        // },
    });
</script>
{% endblock %}