{% extends "templates/main.html" %}

{% block content %}
<div class="hdyl">
    <div class="container">

        <div class="hdyl-spacer">
            {% include "parts/spacer_flower.html" %}
        </div>

        <div class="hdyl-heading">
            <a href="" class="button button-more">
                更多
            </a>
        </div>

        <div class="hdyl-content">

            <div class="hdyl-schedule">
                <div class="hdyl-schedule-item">
                    {% include "parts/schedule.html" %}
                </div>
                <div class="hdyl-schedule-item">
                    {% include "parts/schedule.html" %}
                </div>
                <div class="hdyl-schedule-item">
                    {% include "parts/schedule.html" %}
                </div>
                <div class="hdyl-schedule-item">
                    {% include "parts/schedule.html" %}
                </div>
            </div>
        </div>


        <div class="hdyl-links">
            <a href="" class="hdyl-links-item">
                <img class="hdyl-links-bg" src="/images/link-image-1.jpg" alt="">
                <div class="hdyl-links-title">建校70周年庆祝大会</div>
            </a>
            <a href="" class="hdyl-links-item">
                <img class="hdyl-links-bg" src="/images/link-image-2.jpg" alt="">
                <div class="hdyl-links-title">重要学术论坛</div>
            </a>
            <a href="" class="hdyl-links-item">
                <img class="hdyl-links-bg" src="/images/link-image-5.jpg" alt="">
                <div class="hdyl-links-title">十年办学成果系列展</div>
            </a>
            <a href="" class="hdyl-links-item">
                <img class="hdyl-links-bg" src="/images/link-image-4.jpg" alt="">
                <div class="hdyl-links-title">建校70周年文艺晚会</div>
            </a>
        </div>

    </div>
</div>
{% endblock %}