{% extends "base.html" %}
{% set title = "Home" %}

{% block content %}
<div class="home">

    <div class="home-menu">
        <div class="home-box-biglogo">
            <img class="home-box-biglogo-logo" src="/images/logo.png" alt="" />
        </div>
        <div class="home-box xqdt">
            <div class="home-box-title">
                <a href="/xqdt.html">
                    <div class="home-box-title-text">校庆动态</div>
                </a>
            </div>
        </div>
        <div class="home-box hdyl">
            <div class="home-box-title">
                <a href="/hdyl.html">
                    <div class="home-box-title-text">活动一览</div>
                </a>
            </div>
        </div>
        <div class="home-box dsj">
            <div class="home-box-title">
                <a href="/dsj.html">
                    <div class="home-box-title-text">大事记</div>
                </a>
            </div>
        </div>
        <div class="home-box xqbs">
            <div class="home-box-title">
                <a href="/xqbs.html">
                    <div class="home-box-title-text">校庆标识</div>
                </a>
            </div>
            <img class="home-box-title-toys" src="/images/home/toys.png" alt="">
        </div>
        <div class="home-box yxdc">
            <div class="home-box-title">
                <a href="/yxdc.html">
                    <div class="home-box-title-text">影像东财</div>
                </a>
            </div>
        </div>
        <div class="home-box hkmx">
            <div class="home-box-title">
                <a href="/hkmx.html">
                    <div class="home-box-title-text">回馈母校</div>
                </a>
            </div>
        </div>
        <div class="home-box yxq">
            <div class="home-box-title">
                <a href="/yxq.html">
                    <div class="home-box-title-text">云校庆</div>
                </a>
            </div>
        </div>
    </div>
    <div class="home-right">
        <img src="/images/home/stone.jpg" alt="">
    </div>

</div>
{% endblock %}

{% block script %}

{% endblock %}