{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="/js/packages/vegas/vegas.min.css">

<div class="landing">

    <div class="landing-head">
        <img src="/images/logo.png" alt="">
    </div>

    <div class="landing-swiper">
        <!-- <div class="landing-swiper-el">
            <div class="swiper-slide">
                <img src="https://source.unsplash.com/1920x1080/?newyear" />
            </div>
            <div class="swiper-slide">
                <img src="https://source.unsplash.com/1920x1080/?school" />
            </div>
        </div> -->
    </div>

    <div class="landing-fireworks"></div>

</div>

{% endblock %}

{% block script %}
<script src="/js/packages/vegas/vegas.min.js"></script>
<script>
    $(".landing-swiper").vegas({
        slides: [{
                src: "https://source.unsplash.com/1920x1080/?fireworks"
            },
            {
                src: "https://source.unsplash.com/1920x1080/?flim"
            },
            {
                src: "https://source.unsplash.com/1920x1080/?airplane"
            },
            {
                src: "https://source.unsplash.com/1920x1080/?train"
            }
        ],
        timer: false,
        delay: 5000,
        shuffle: false,
        animation: ['kenburnsUp', 'kenburnsDown', 'kenburnsLeft', 'kenburnsRight']
    });

    const container = document.querySelector('.landing-fireworks')
    const fireworks = new Fireworks(container, {
        hue: {
            min: 65,
            max: 237
        },
        delay: {
            min: 20,
            max: 100
        },
        // rocketsPoint: {
        //     min: 100,
        //     max: 72
        // },
        // opacity: 0.3,
        // acceleration: 1.5,
        // friction: 0.98,
        // gravity: 1.5,
        particles: 90,
        trace: 1,
        traceSpeed: 10000,
        explosion: 6,
        intensity: 30,
        flickering: 50,
        lineWidth: {
            explosion: {
                min: 1,
                max: 5.8
            },
            trace: {
                min: 0,
                max: 0.1
            }
        }
    })
    fireworks.start()
</script>
{% endblock %}