{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/js/packages/vegas/vegas.min.css">
{% endblock %}

{% block content %}
<div class="landing">
    <div class="landing-header hide_in_pc">
        {% include "parts/header.html" %}
    </div>

    <a href="">
        <img class="landing-logo" src="/images/logo.png" alt="">
    </a>

    <div class="landing-title-wrap">
        <div class="landing-title">
            <div class="hide_in_mobile">
                <img src="/images/landing/title.png" alt="">
            </div>
            <a href="/home.html">
                <div class="landing-title-enter">
                    <div class="landing-title-enter-btn">点击进入</div>
                    <div class="landing-title-enter-circle hide_in_pc"></div>
                </div>
            </a>
        </div>
    </div>

    <div class="landing-swiper"></div>

    <div class="landing-pixi">
        <div id="water"></div>
        <div id="sakura"></div>
        <div id="cloud"></div>
    </div>

    <div class="landing-swiper-pagination"></div>

    <div id="firework1" class="landing-fireworks"></div>
    <div id="firework2" class="landing-fireworks"></div>

</div>

{% endblock %}

{% block script %}
<script src="/js/packages/fireworks/fireworks.min.js"></script>
<script src="/js/packages/vegas/vegas.min.js"></script>
<script src="/js/packages/pixi/pixi.min.js"></script>
<script src="/js/packages/landing/main.js"></script>
<script>
    var slides = [
        {src: isMobile ? "/images/landing/page1_mobile.jpg" : "/images/landing/page1.jpg", animation: "fade", transition: "fade"},
        {src: isMobile ? "/images/landing/page2_mobile.jpg" : "/images/landing/page2.jpg", animation: "kenburnsDownRight", transition: "fade"},
        {src: isMobile ? "/images/landing/page3_mobile.jpg" : "/images/landing/page3.jpg"},
        {src: isMobile ? "/images/landing/page4_mobile.jpg" : "/images/landing/page4.jpg"}
    ]
    landingInit(slides, "")
</script>
{% endblock %}