{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/js/packages/vegas/vegas.min.css">
{% endblock %}

{% block content %}
<div class="landing" style="background-color: black;">
    <!-- <div class="landing-header hide_in_pc">
        {% include "parts/header.html" %}
    </div>

    <a href="">
        <img class="landing-logo" src="/images/logo.png" alt="">
    </a>

    <div class="landing-title-wrap">
        <div class="landing-title">
            <div class="hide_in_mobile">
                <img src="/images/landing/title.png" alt="">
            </div>
            <a href="/home.html">
                <div class="landing-title-enter">
                    <div class="landing-title-enter-btn">点击进入</div>
                    <div class="landing-title-enter-circle hide_in_pc"></div>
                </div>
            </a>
        </div>
    </div>

    <div class="landing-swiper"></div> -->

    <div class="landing-fireworks"></div>

</div>

{% endblock %}

{% block script %}
<script src="/js/packages/fireworks/fireworks.min.js"></script>
<script src="/js/packages/vegas/vegas.min.js"></script>
<script>
    // var isMobile = screen.width <= 750;
    // $(".landing-swiper").vegas({
    //     slides: [{
    //             src: isMobile ? "/images/landing/page1_mobile.jpg" : "/images/landing/page1.jpg"
    //         },
    //         {
    //             src: "/images/landing/page2.jpg"
    //         },
    //         {
    //             src: "/images/landing/page3.jpg"
    //         },
    //         {
    //             src: "/images/landing/page4.jpg"
    //         }
    //     ],
    //     timer: false,
    //     delay: 5000,
    //     shuffle: false,
    //     animation: ['kenburnsUp', 'kenburnsDown', 'kenburnsLeft', 'kenburnsRight'],
    //     walk: function (index) {
    //         if (index === 0) {
    //             $(".landing-title img").css("opacity", "0");
    //         } else {
    //             $(".landing-title img").css("opacity", "1");
    //         }
    //     }
    // });

    var container = document.querySelector('.landing-fireworks')
    var fireworks = new Fireworks(container, {
        "hue": {
            "min": 50,
            "max": 350
        },
        "delay": {
            "min": 9,
            "max": 40
        },
        "rocketsPoint": {
            "min": 21,
            "max": 45
        },
        "opacity": 0.1,
        "acceleration": 1.1,
        "friction": 0.98,
        "gravity": 0.3,
        "particles": 130,
        "trace": 1,
        "traceSpeed": 100,
        "explosion": 7,
        "intensity": 17,
        "flickering": 28,
        "lineStyle": "round",
        "lineWidth": {
            "explosion": {
                "min": 2,
                "max": 7.5
            },
            "trace": {
                "min": 0,
                "max": 0.1
            }
        },
        "autoresize": true,
        "brightness": {
            "min": 50,
            "max": 100,
            "decay": {
                "min": 0.012,
                "max": 0.024
            }
        },
    })
    fireworks.start()
</script>
{% endblock %}