{% extends "content_card.html" %}

{% set listtitle = "校庆动态" %}

{% block content_card_content %}

<div class="newspage-list minH-lg">

    <div class="newspage-list-content">
        <ul>
            {% include "parts/news_item.html" %}
            {% include "parts/news_item.html" %}
            {% include "parts/news_item.html" %}
            {% include "parts/news_item.html" %}
            {% include "parts/news_item.html" %}
            {% include "parts/news_item.html" %}
            {% include "parts/news_item.html" %}
            {% include "parts/news_item.html" %}
            {% include "parts/news_item.html" %}
        </ul>
    </div>

</div>

<div class="newspage-pagination">
    {% include "parts/pagination.html" %}
</div>

{% endblock %}