{% extends "templates/main.html" %}
{% block content %}
<div class="container news">

    <div class="content_card">

        {% include "parts/crumbs.html" %}

        <div class="news-content">

            <ul class="news-list">
                <li class="news-item">
                    <a href="">
                        <p>《大连日报》：市政协委员吕洪良： 城市更新改造应加强无障碍环境建设城市更新改造应加强无障碍环境建设城市更新改造应加强无障碍环境建设</p>
                        <span class="news-time">2022.01.10</span>
                    </a>
                </li>
                <li class="news-item">
                    <a href="">
                        <p>大连新闻传媒微信公众号：两会声音：13位市政协委员大会发言精华</p>
                        <span class="news-time">2022.01.10</span>
                    </a>
                </li>
                <li class="news-item">
                    <a href="">
                        <p>《大连日报》：市政协委员吕洪良： 城市更新改造应加强无障碍环境建设</p>
                        <span class="news-time">2022.01.10</span>
                    </a>
                </li>
                <li class="news-item">
                    <a href="">
                        <p>大连新闻传媒微信公众号：两会声音：13位市政协委员大会发言精华</p>
                        <span class="news-time">2022.01.10</span>
                    </a>
                </li>
            </ul>

            {% include "parts/pagination.html" %}
        </div>

    </div>

</div>
{% endblock %}