{% extends "content_card.html" %}
{% block content_card_content %}

<div class="newspage">
    <div class="newspage-content">

        <h1 class="newspage-content-title">东北财经大学多项辅导员工作成果在省级评选中获奖</h1>

        <div class="newspage-content-divider" style="background-image: url(/images/news_content_divider.png);">2022年01月28日</div>

        <div class="newspage-content-body">
            <img src="https://source.unsplash.com/2575x1440/?mountain" alt="">
            <p>
                尖山星海，风华正茂。七秩峥嵘，薪火相传。2022年10月15日，东北财经大学将迎来70周年华诞。回首70年栉风沐雨光辉历程，展望新时代壮美盛世华章。在此，我们谨向关心和支持学校建设发展的各级领导、海内外校友、社会各界朋友以及全校师生员工致以诚挚的问候和崇高的敬意！
            </p>
        </div>

    </div>
</div>

{% endblock %}