{% extends "templates/content_card.html" %}
{% block content_card_content %}

<div class="news-content">

    <ul class="news-list news-border">
        {% include "parts/news_item.html" %}
        {% include "parts/news_item.html" %}
        {% include "parts/news_item.html" %}
        {% include "parts/news_item.html" %}
        {% include "parts/news_item.html" %}
        {% include "parts/news_item.html" %}
        {% include "parts/news_item.html" %}
        {% include "parts/news_item.html" %}
        {% include "parts/news_item.html" %}
    </ul>

    {% include "parts/pagination.html" %}
</div>

{% endblock %}