{% extends "templates/main.html" %}
{% block content %}
<div class="xqbs">
    <div class="container">

        <div class="xqbs-spacer">
            {% include "parts/spacer_flower.html" %}
        </div>

        <div class="xqbs-content">
            <div class="xqbs-70th">
                <img src="/images/dist/xqbs_70th.png" alt="">
            </div>
            <div class="xqbs-right">
                <div class="xqbs-postcard">1</div>
                <div class="">
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}