{% extends "main.html" %}
{% set title = "校庆标识" %}

{% block content %}
<div class="xqbs">
    <div class="container">

        <div class="xqbs-spacer hide_in_mobile">
            {% include "parts/spacer_flower.html" %}
        </div>

        <div class="xqbs-content">
            <div class="xqbs-70th">
                <div class="xqbs-70th-top">
                    <div class="xqbs-70th-top-title">校庆logo</div>
                    <div class="xqbs-70th-top-logo">
                        <img src="/images/70th.png" alt="">
                    </div>
                </div>
                <div class="xqbs-70th-bottom">
                    南开大学百年校庆LOGO的主体由阿拉伯数字“100”、百年纪年及八角星形的三重组合这三部分共同组成。其中数字“100”的两个“0”内分别嵌入了南开大学校徽中“南”、“开”两个字的篆体字样,并在下方辅以纪年“1919-2019”,寓意沧桑历史,世代铭记,百年南开,继往开来。
                </div>
            </div>
            <div class="xqbs-right">
                <div class="xqbs-postcard">
                    <div class="xqbs-postcard-title">首<br />日<br />封</div>
                    <div class="xqbs-postcard-swiper">
                        <div class="xqbs-postcard-swiper-el">
                            <a href="#1">
                                <div class="swiper-img" style="background-image: url(https://source.unsplash.com/400x400/?car)"></div>
                            </a>
                            <a href="#1">
                                <div class="swiper-img" style="background-image: url(https://source.unsplash.com/400x400/?train)"></div>
                            </a>
                        </div>
                        <div class="xqbs-postcard-swiper-pagination">
                        </div>
                    </div>
                </div>
                <div class="xqbs-cards">
                    <div class="xqbs-cards-item">
                        <img src="/images/xqbs/jxw.jpg" alt="">
                    </div>
                    <div class="xqbs-cards-item">
                        <img src="/images/xqbs/xqwc.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block script %}
<script>
    var swiperEl = $('.xqbs-postcard-swiper-el')
    swiperEl.slick({
        // autoplay: true,
        vertical: true,
        verticalSwiping: true,
        arrows: false,
        dots: true,
        appendDots: $(".xqbs-postcard-swiper-pagination")
    });
    // swiperEl.on('afterChange', function (slick, currentSlide, nextSlide) {
    //     var swiperLink = $(".xqdt-swiper-el a")[nextSlide];
    //     $(".xqdt-swiper-title > a").text(swiperLink.title)
    //     $(".xqdt-swiper-title > a").attr("href", swiperLink.href)
    // });
</script>
{% endblock %}