{% extends "main.html" %}
{% set title = "校庆动态" %}

{% block content %}
<div class="xqdt">
    <div class="container">

        <div class="xqdt-flower">
            {% include "parts/spacer_flower.html" %}
        </div>

        <div class="xqdt-content">

            <div class="xqdt-card">
                <div class="swiper xqdt-swiper">
                    <div class="xqdt-swiper-el">
                        <a href="#1" title="东北财经大学11111">
                            <img src="https://source.unsplash.com/500x300/?airplane" />
                        </a>
                        <a href="#2" title="东北财经大学22222">
                            <img src="https://source.unsplash.com/500x300/?airplane" />
                        </a>
                    </div>
                    <div class="xqdt-swiper-title">
                        <a href="#">东北财经大学70周年庆典大会成功举行</a>
                        <div class="xqdt-swiper-pagination"></div>
                    </div>
                </div>
            </div>
            {% include "parts/xqdt_news_card.html" %}
            {% include "parts/xqdt_news_card.html" %}
            {% include "parts/xqdt_news_card.html" %}
        </div>

    </div>
</div>
{% endblock %}
{% block script %}
<script>
    var swiperEl = $('.xqdt-swiper-el')
    swiperEl.slick({
        autoplay: true,
        arrows: false,
        dots: true,
        appendDots: $(".xqdt-swiper-pagination")
    });
    swiperEl.on('afterChange', function (slick, currentSlide, nextSlide) {
        var swiperLink = $(".xqdt-swiper-el a")[nextSlide];
        $(".xqdt-swiper-title > a").text(swiperLink.title)
        $(".xqdt-swiper-title > a").attr("href", swiperLink.href)
    });
</script>
{% endblock %}