{% extends "main.html" %}
{% set title = "校庆动态" %}

{% block content %}
<div class="xqdt">
    <div class="container">

        <div class="xqdt-flower">
            {% include "parts/spacer_flower.html" %}
        </div>

        <div class="xqdt-content">

            <div class="xqdt-card">
                <div class="xqdt-swiper">
                    <div class="xqdt-swiper-el">
                        <a href="#1" title="东北财经大学11111">
                            <div class="swiper-img"
                                style="background-image: url(https://source.unsplash.com/1000x800/?train)"></div>
                        </a>
                        <a href="#1" title="东北财经大学11111">
                            <div class="swiper-img"
                                style="background-image: url(https://source.unsplash.com/1000x800/?car)"></div>
                        </a>
                    </div>
                    <div class="xqdt-swiper-title">
                        <a href="#">东北财经大学70周年庆典大会成功举行</a>
                        <div class="xqdt-swiper-pagination"></div>
                    </div>
                </div>
            </div>
            <div class="xqdt-card">
                <div class="xqdt-card-heading">
                    <div class="heading">
                        <div class="heading-icon heading-icon-shield" style="background-image: url(/images/icon_shield.png);"></div>
                        <div class="heading-titles">
                            <div class="heading-title">校庆新闻</div>
                        </div>
                    </div>
                    <div class="xqdt-card-heading-extends">
                        <a class="button button-more button-link" href="/news_list.html">更多</a>
                    </div>
                </div>
                <div class="xqdt-card-body">
                    <ul class="xqdt-news">
                        {% include "parts/news_item.html" %}
                        {% include "parts/news_item.html" %}
                        {% include "parts/news_item.html" %}
                        {% include "parts/news_item.html" %}
                        {% include "parts/news_item.html" %}
                        {% include "parts/news_item.html" %}
                    </ul>
                </div>
            </div>
            <div class="xqdt-card">
                <div class="xqdt-card-heading">
                    <div class="heading">
                        <div class="heading-icon heading-icon-message" style="background-image: url(/images/icon_message.png);"></div>
                        <div class="heading-titles">
                            <div class="heading-title">通知公告</div>
                        </div>
                    </div>
                    <div class="xqdt-card-heading-extends">
                        <a class="button button-more button-link" href="/news_list.html">更多</a>
                    </div>
                </div>
                <div class="xqdt-card-body">
                    <ul class="xqdt-news">
                        {% include "parts/news_item.html" %}
                        {% include "parts/news_item.html" %}
                        {% include "parts/news_item.html" %}
                        {% include "parts/news_item.html" %}
                        {% include "parts/news_item.html" %}
                        {% include "parts/news_item.html" %}
                    </ul>
                </div>
            </div>
            <div class="xqdt-card">
                <div class="xqdt-card-heading">
                    <div class="heading">
                        <div class="heading-icon heading-icon-tv" style="background-image: url(/images/icon_tv.png);"></div>
                        <div class="heading-titles">
                            <div class="heading-title">媒体东财</div>
                        </div>
                    </div>
                    <div class="xqdt-card-heading-extends">
                        <a class="button button-more button-link" href="/news_list.html">更多</a>
                    </div>
                </div>
                <div class="xqdt-card-body">
                    <ul class="xqdt-news">
                        {% include "parts/news_item.html" %}
                        {% include "parts/news_item.html" %}
                        {% include "parts/news_item.html" %}
                        {% include "parts/news_item.html" %}
                        {% include "parts/news_item.html" %}
                        {% include "parts/news_item.html" %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block script %}
<script>
    var swiperEl = $('.xqdt-swiper-el')
    swiperEl.slick({
        autoplay: true,
        arrows: false,
        dots: true,
        appendDots: $(".xqdt-swiper-pagination")
    });
    swiperEl.on('afterChange', function (slick, currentSlide, nextSlide) {
        var swiperLink = $(".xqdt-swiper-el a")[nextSlide];
        $(".xqdt-swiper-title > a").text(swiperLink.title)
        $(".xqdt-swiper-title > a").attr("href", swiperLink.href)
    });
</script>
{% endblock %}