{% extends "main.html" %}
{% set title = "影像东财" %}

{% block content %}
<div class="yxdc">
    <div class="container">

        <div class="yxdc-spacer hide_in_mobile">
            {% include "parts/spacer_flower.html" %}
        </div>

        <div class="yxdc-content">

            <div class="yxdc-content-item">
                <div class="yxdc-list-heading">
                    <div class="heading">
                        <div class="heading-icon heading-icon-video"></div>
                        <div class="heading-titles">
                            <div class="heading-title">校庆宣传片</div>
                        </div>
                    </div>
                </div>
                <div class="yxdc-video">
                    <video src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4" controls></video>
                </div>
            </div>

            <div class="yxdc-content-spacer"></div>

            <div class="yxdc-content-item">
                <div class="yxdc-list-heading">
                    <div class="heading">
                        <div class="heading-icon heading-icon-camera"></div>
                        <div class="heading-titles">
                            <div class="heading-title">尖山光影</div>
                        </div>
                    </div>
                    <a class="button button-more" href="/yxdc_list.html">更多</a>
                </div>
                <div class="yxdc-gallery hide_in_mobile">
                    <div class="yxdc-gallery-item">
                        <img src="https://source.unsplash.com/500x500/?car" alt="">
                    </div>
                    <div class="yxdc-gallery-item">
                        <img src="https://source.unsplash.com/500x500/?pen" alt="">
                    </div>
                    <div class="yxdc-gallery-item">
                        <img src="https://source.unsplash.com/500x500/?said" alt="">
                    </div>
                    <div class="yxdc-gallery-item">
                        <img src="https://source.unsplash.com/500x500/?car" alt="">
                    </div>
                    <div class="yxdc-gallery-item">
                        <img src="https://source.unsplash.com/500x500/?pen" alt="">
                    </div>
                    <div class="yxdc-gallery-item">
                        <img src="https://source.unsplash.com/500x500/?said" alt="">
                    </div>
                    <div class="yxdc-gallery-item">
                        <img src="https://source.unsplash.com/500x500/?car" alt="">
                    </div>
                    <div class="yxdc-gallery-item">
                        <img src="https://source.unsplash.com/500x500/?pen" alt="">
                    </div>
                </div>
                <div class="yxdc-swiper hide_in_pc">
                    <div class="yxdc-swiper-el">
                        <a href="#1" title="东北财经大学11111">
                            <div class="swiper-img"
                                style="background-image: url(https://source.unsplash.com/1000x800/?train)">
                            </div>
                        </a>
                        <a href="#1" title="东北财经大学11111">
                            <div class="swiper-img"
                                style="background-image: url(https://source.unsplash.com/1000x800/?car)">
                            </div>
                        </a>
                    </div>
                    <div class="yxdc-swiper-pagination"></div>
                </div>
            </div>

        </div>

    </div>
</div>
{% endblock %}

{% block script %}
<script src="/js/packages/freewall/freewall.js"></script>
<script>
    var swiperEl = $('.yxdc-swiper-el')
    swiperEl.slick({
        autoplay: true,
        arrows: false,
        dots: true,
        appendDots: $(".yxdc-swiper-pagination")
    });
</script>
{% endblock %}