{% extends "yxq_base.html" %}
{% set title = "云校庆-云返校" %}
{% set currentTab = "yfx" %}

{% block content %}
<div class="yxq-block yxq-yfx-block">
    <div class="yxq-yfx-block-mobile"><img src="/images/yxq/yfx_mobile.png" alt=""></div>
    <div class="yxq-yfx-block-pc"><img src="/images/yxq/yfx.png" alt=""></div>
</div>


<div class="yxq-ticket">
    {% include "parts/ticket.html" %}
</div>
<div class="yxq-ticket">
    {% include "parts/ticket.html" %}
</div>
<div class="yxq-ticket">
    {% include "parts/ticket.html" %}
</div>

{% endblock %}