{% extends "templates/main.html" %}
{% block content %}

<div class="yxq">
    <div class="container">

        <div class="yxq-spacer">
            {% include "parts/spacer_flower.html" %}
        </div>

        <div class="yxq-tab">
            {% include "parts/tabs.html" %}
        </div>

        <div class="yxq-yhd-tickets">

            <div class="yxq-ticket">
                {% include "parts/ticket.html" %}
            </div>
            <div class="yxq-ticket">
                {% include "parts/ticket.html" %}
            </div>
            <div class="yxq-ticket">
                {% include "parts/ticket.html" %}
            </div>

        </div>


    </div>
</div>
{% endblock %}