{% extends "main.html" %}
{% set title = "云校庆-云返校" %}

{% block content %}
<div class="yxq">
    <div class="container">

        <div class="yxq-spacer">
            {% include "parts/spacer_flower.html" %}
        </div>

        <div class="yxq-tab">
            {% include "parts/tabs.html" %}
        </div>

        <div class="yxq-block">
            <div class="yxq-qrcodes">
                <div class="photo">
                    <div class="yxq-qrcodes-title">人民日报客户端</div>
                    <img class="yxq-qrcodes-qrcode"
                        src="https://qr.api.cli.im/newqr/create?data=1&level=H&transparent=false&bgcolor=%23FFFFFF&forecolor=%23000000&blockpixel=12&marginblock=1&logourl=&logoshape=no&size=500&kid=cliim&key=0e4acf6d032caaa0e6054e7eea845094"
                        alt="">
                </div>
            </div>
            <div class="yxq-block-video">

            </div>
        </div>


        <div class="yxq-ticket">
            {% include "parts/ticket.html" %}
        </div>
        <div class="yxq-ticket">
            {% include "parts/ticket.html" %}
        </div>
        <div class="yxq-ticket">
            {% include "parts/ticket.html" %}
        </div>

    </div>
</div>


{% endblock %}