{% extends "main.html" %}
{% set title = "发送祝福" %}

{% block content %}
<div class="yxq-yzf">

    <div class="yxq-yzf-form">
        <div class="yxq-yzf-form-bg">
            <img src="/images/yxq/yzf_form_head.png" alt="">
        </div>
        <div class="yxq-yzf-form-content">
            <form action="">
                <div class="yxq-yzf-form-input">
                    <textarea placeholder="请输入祝福语" name="" id="" cols="30" rows="8"></textarea>
                    <input placeholder="请输入姓名" type="text">
                </div>
                <div class="yxq-yzf-form-captcha">
                    <div class="yxq-yzf-form-input">
                        <input placeholder="验证码" type="text">
                    </div>
                    <div class="yxq-yzf-form-captcha-image">
                        <img src="https://source.unsplash.com/200x100/?train" alt="">
                        <a href="">换一张</a>
                    </div>
                </div>
                <button class="yxq-yzf-form-button button button-image button-full">
                    发送祝福
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}