{% extends "yxq_base.html" %}
{% set title = "云校庆-云祝福" %}
{% set currentTab = "yzf" %}

{% block content %}

<div class="yxq-block yxq-yzf-block">
    <div class="yxq-yzf-scrollmessage">
        <div class="yxq-yzf-scrollmessage-item">
            <p class="yxq-yzf-scrollmessage-message">
                七十年,岁月的沧桑,让我们感慨万分。七十年,铭记了我校的辉煌成就,让我们心潮澎湃。灿烂云霞,那是我们用双手绘成;群星璀璨,那是我们用双手托起。请你再一次腾飞吧!</p>
            <div class="yxq-yzf-scrollmessage-author">——— 贾梦楠</div>
        </div>
        <div class="yxq-yzf-scrollmessage-item">
            <p class="yxq-yzf-scrollmessage-message">
                七十年,岁月的沧桑,让我们感慨万分。七十年,铭记了我校的辉煌成就,让我们心潮澎湃。灿烂云霞,那是我们用双手绘成;群星璀璨,那是我们用双手托起。请你再一次腾飞吧!</p>
            <div class="yxq-yzf-scrollmessage-author">——— 贾梦楠</div>
        </div>
    </div>
</div>

<div class="yxq-yzf-sendButton button button-image">
    我为东财70周年送祝福
</div>

<div>
    <div class="yxq-yzf-heading">
        <div class="heading">
            <div class="heading-icon heading-icon-gift"></div>
            <div class="heading-titles">
                <div class="heading-title">来自友好院校的祝福</div>
                <div class="heading-subtitle">按名称首字排序</div>
            </div>
        </div>
        <div>
            <a href="" class="button button-more">更多</a>
        </div>
    </div>
    <div class="yxq-yzf-gallery">
        {% include "parts/gallery.html" %}
    </div>

    <div class="yxq-yzf-heading">
        <div class="heading">
            <div class="heading-icon heading-icon-gift"></div>
            <div class="heading-titles">
                <div class="heading-title">来自校友会的祝福</div>
                <div class="heading-subtitle">按名称首字排序</div>
            </div>
        </div>
        <div>
            <a href="" class="button button-more">更多</a>
        </div>
    </div>
    <div class="yxq-yzf-gallery">
        {% include "parts/gallery.html" %}
    </div>

</div>

{% endblock %}