{% extends "yxq_base.html" %}
{% set title = "云校庆-云直播" %}
{% set currentTab = "yzb" %}

{% block content %}
<div class="yxq-block yxq-yzb-block">
    <div class="yxq-yzb-links">
        <div class="yxq-yzb-qrcodes">
            <div class="yxq-yzb-qrcodes-item">
                <div class="yxq-yzb-qrcodes-title">人民日报客户端</div>
                <div class="yxq-yzb-qrcodes-qrcode photo">
                    <img src="https://qr.api.cli.im/newqr/create?data=1&level=H&transparent=false&bgcolor=%23FFFFFF&forecolor=%23000000&blockpixel=12&marginblock=1&logourl=&logoshape=no&size=500&kid=cliim&key=0e4acf6d032caaa0e6054e7eea845094"
                        alt="">
                </div>
            </div>
            <div class="yxq-yzb-qrcodes-item">
                <div class="yxq-yzb-qrcodes-title">学习强国平台</div>
                <div class="yxq-yzb-qrcodes-qrcode photo">
                    <img src="https://qr.api.cli.im/newqr/create?data=1&level=H&transparent=false&bgcolor=%23FFFFFF&forecolor=%23000000&blockpixel=12&marginblock=1&logourl=&logoshape=no&size=500&kid=cliim&key=0e4acf6d032caaa0e6054e7eea845094"
                        alt="">
                </div>
            </div>
            <div class="yxq-yzb-qrcodes-item">
                <div class="yxq-yzb-qrcodes-title">央视频</div>
                <div class="yxq-yzb-qrcodes-qrcode photo">
                    <img src="https://qr.api.cli.im/newqr/create?data=1&level=H&transparent=false&bgcolor=%23FFFFFF&forecolor=%23000000&blockpixel=12&marginblock=1&logourl=&logoshape=no&size=500&kid=cliim&key=0e4acf6d032caaa0e6054e7eea845094"
                        alt="">
                </div>
            </div>
            <div class="yxq-yzb-qrcodes-item">
                <div class="yxq-yzb-qrcodes-title">Zaker平台</div>
                <div class="yxq-yzb-qrcodes-qrcode photo">
                    <img src="https://qr.api.cli.im/newqr/create?data=1&level=H&transparent=false&bgcolor=%23FFFFFF&forecolor=%23000000&blockpixel=12&marginblock=1&logourl=&logoshape=no&size=500&kid=cliim&key=0e4acf6d032caaa0e6054e7eea845094"
                        alt="">
                </div>
            </div>
            <div class="yxq-yzb-qrcodes-item">
                <div class="yxq-yzb-qrcodes-title">官方B站</div>
                <div class="yxq-yzb-qrcodes-qrcode photo">
                    <img src="https://qr.api.cli.im/newqr/create?data=1&level=H&transparent=false&bgcolor=%23FFFFFF&forecolor=%23000000&blockpixel=12&marginblock=1&logourl=&logoshape=no&size=500&kid=cliim&key=0e4acf6d032caaa0e6054e7eea845094"
                        alt="">
                </div>
            </div>
            <div class="yxq-yzb-qrcodes-item">
                <div class="yxq-yzb-qrcodes-title">官方抖音</div>
                <div class="yxq-yzb-qrcodes-qrcode photo">
                    <img src="https://qr.api.cli.im/newqr/create?data=1&level=H&transparent=false&bgcolor=%23FFFFFF&forecolor=%23000000&blockpixel=12&marginblock=1&logourl=&logoshape=no&size=500&kid=cliim&key=0e4acf6d032caaa0e6054e7eea845094"
                        alt="">
                </div>
            </div>
        </div>
        <div class="yxq-yzb-link">
            <a href="#">PC端访问 https://live.bilibili.com/xxxxx</a>
        </div>
    </div>
    <div class="yxq-yzb-video">

    </div>
</div>

<div class="yxq-ticket">
    {% include "parts/ticket.html" %}
</div>
<div class="yxq-ticket">
    {% include "parts/ticket.html" %}
</div>
<div class="yxq-ticket">
    {% include "parts/ticket.html" %}
</div>

{% endblock %}