{% extends "content_card.html" %}
{% block content_card_content %}

<div class="yxdc-list">

    <div class="yxq-yzf-heading">
        <div class="heading">
            <div class="heading-icon heading-icon-gift"></div>
            <div class="heading-titles">
                <div class="heading-title">来自友好院校的祝福</div>
                <div class="heading-subtitle">按名称首字排序</div>
            </div>
        </div>
    </div>
    <div class="yxq-yzf-gallery">
        {% include "parts/gallery.html" %}
    </div>

    <div>
        {% include "parts/pagination.html" %}
    </div>


</div>

{% endblock %}