{% extends "yxq_base.html" %}
{% set title = "云校庆-云祝福" %}
{% set currentTab = "yzf" %}

{% block css %}
<link rel="stylesheet" href="/js/packages/swiper/css/swiper.min.css">
{% endblock %}

{% block content %}

<div class="yxq-block yxq-yzf-block">
    <div class="yxq-yzf-scrollmessage">
        <div class="yxq-yzf-scrollmessage-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="yxq-yzf-scrollmessage-item">
                        <p class="yxq-yzf-scrollmessage-message">
                            哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈
                        </p>
                        <div class="yxq-yzf-scrollmessage-author">——— 贾梦楠</div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="yxq-yzf-scrollmessage-item">
                        <p class="yxq-yzf-scrollmessage-message">
                            七十年,岁月的沧桑,让我们感慨万分。七十年,铭记了我校的辉煌成就,让我们心潮澎湃。灿烂云霞,那是我们用双手绘成;群星璀璨,那是我们用双手托起。请你再一次腾飞吧!</p>
                        <div class="yxq-yzf-scrollmessage-author">——— 贾梦楠</div>
                    </div>
                    <div>
                </div class="swiper-slide">
                    <div class="yxq-yzf-scrollmessage-item">
                        <p class="yxq-yzf-scrollmessage-message">
                            七十年,岁月的沧桑,让我们感慨万分。七十年,铭记了我校的辉煌成就,让我们心潮澎湃。灿烂云霞,那是我们用双手绘成;群星璀璨,那是我们用双手托起。请你再一次腾飞吧!</p>
                        <div class="yxq-yzf-scrollmessage-author">——— 贾梦楠</div>
                    </div>
                    <div>
                </div class="swiper-slide">
                    <div class="yxq-yzf-scrollmessage-item">
                        <p class="yxq-yzf-scrollmessage-message">
                            七十年,岁月的沧桑,让我们感慨万分。七十年,铭记了我校的辉煌成就,让我们心潮澎湃。灿烂云霞,那是我们用双手绘成;群星璀璨,那是我们用双手托起。请你再一次腾飞吧!</p>
                        <div class="yxq-yzf-scrollmessage-author">——— 贾梦楠</div>
                    </div>
                    <div>
                </div class="swiper-slide">
                    <div class="yxq-yzf-scrollmessage-item">
                        <p class="yxq-yzf-scrollmessage-message">
                            七十年,岁月的沧桑,让我们感慨万分。七十年,铭记了我校的辉煌成就,让我们心潮澎湃。灿烂云霞,那是我们用双手绘成;群星璀璨,那是我们用双手托起。请你再一次腾飞吧!
                        </p>
                        <div class="yxq-yzf-scrollmessage-author">——— 贾梦楠</div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="yxq-yzf-scrollmessage-item">
                        <p class="yxq-yzf-scrollmessage-message">
                            七十年,岁月的沧桑,让我们感慨万分。七十年,铭记了我校的辉煌成就,让我们心潮澎湃。灿烂云霞,那是我们用双手绘成;群星璀璨,那是我们用双手托起。请你再一次腾飞吧!
                        </p>
                        <div class="yxq-yzf-scrollmessage-author">——— 贾梦楠</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="yxq-yzf-mobile hide_in_mobile">
        <img class="yxq-yzf-mobile-qrcode" src="https://source.unsplash.com/257x144/?qrcode" alt="">
        <div class="yxq-yzf-mobile-text">微信扫描二维码 发送祝福</div>
    </div>
</div>

<a href="/yxq_yzf_send.html" class="yxq-yzf-sendButton button button-image button-full">我为东财70周年送祝福</a>

<div>
    <div class="yxq-yzf-heading">
        <div class="heading">
            <div class="heading-icon heading-icon-gift"></div>
            <div class="heading-titles">
                <div class="heading-title">来自友好院校的祝福</div>
                <div class="heading-subtitle">按名称首字排序</div>
            </div>
        </div>
        <div>
            <a href="/yxq_yzf_list.html" class="button button-more">更多</a>
        </div>
    </div>
    <div class="yxq-yzf-gallery">
        {% include "parts/gallery.html" %}
    </div>

    <div class="yxq-yzf-heading">
        <div class="heading">
            <div class="heading-icon heading-icon-gift"></div>
            <div class="heading-titles">
                <div class="heading-title">来自校友会的祝福</div>
                <div class="heading-subtitle">按名称首字排序</div>
            </div>
        </div>
        <div>
            <a href="/yxq_yzf_list.html" class="button button-more">更多</a>
        </div>
    </div>
    <div class="yxq-yzf-gallery">
        {% include "parts/gallery.html" %}
    </div>

</div>

{% endblock %}

{% block script %}
<script src="/js/packages/swiper/js/swiper.min.js"></script>
<script>

    var mySwiper = new Swiper('.yxq-yzf-scrollmessage-swiper', {
        speed: 400,
        spaceBetween: 100,
        slidesPerView: "auto",
        direction: "vertical",
        loop: true,
        // autoplay: {
        //     delay: 2000,
        // },
    });
    // var swiperEl = $('.yxq-yzf-scrollmessage-swiper')
    // swiperEl.slick({
    //     infinite: true,
    //     autoplay: true,
    //     variableHeight: true,
    //     vertical: true,
    //     verticalSwiping: true,
    //     arrows: false,
    //     slidesToShow: 1,
    //     slidesToScroll: 1
    // });

</script>
{% endblock %}